/* STRUCT.CSS */

/* GENERAL */
html,body{
	margin:0;
	padding:0;
}
.hidden{
	position: absolute;
	width:1px;
	height:1px;
	visibility: hidden;
	top:-10000px;
	left:-10000px;
}

/* #header */
#header{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	padding:0;
	margin:0;
	z-index: 1;
	display:flex;
	flex-direction:column;
}
#header .inline{
	display:flex;
}

/* TITRE DU SITE */
#header .tplTitle {
	margin:1px 0px 0px 0px;
	height:55px;
	overflow:hidden;
	flex: 0 0 auto;
}

/* NAVIGATION */
#navigation {
	flex: 1 1 auto;
	align-self:flex-end;
}

/* CONTENT */
#content {
	width:100%;
	overflow:hidden;
}
.bkBase_ti > span {
	display: block;
}
#content .txt_p, #content .txt_il, #content .txt_ol,
#content .bkBase_ti > span, #content .bkBase_ti > a, #content table,
#content .evtList, .bkBase_co.collBlk_open, .treeRoot.treeHasToolbar {
	margin: 0 auto;
	max-width: 1024px;
}
#content table .txt_p, #content table .txt_il, #content table .txt_ol,
#content .bkBase_co.collBlk_open .txt_p, #content .bkBase_co.collBlk_open .txt_il, #content .bkBase_co.collBlk_open .txt_ol, #content .bkBase_co.collBlk_open table{
	max-width:100%;
}
#content .txt_ili > .txt_p, #content .txt_oli > .txt_p{
	margin:0 0 5px 5px;
}

/* ILLUS HOME	*/
#illus {
	position: fixed;
	z-index:-1;
	overflow:hidden;
	width:100%;
}

#illus img{
	height: auto;
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translate(0px, -50%);
}

/* FOOTER */
footer {
	clear:both;
	float:left;
	width:100%;
	padding:0;
}

#extras {
	width:100%;
	min-height:180px;
	padding-top: 20px;
	display: flex;
	justify-content: center;
	position:relative;
}
.permMargin {
	display: flex;
}
div.margin{
	margin: 0 80px 0 0;
	padding: 5px;
	width: 250px;
	min-height:160px;
}

/* RESPONSIVE */
@media (max-width: 1200px){ 
	.multipleSections #header .inline{
		flex-direction:column;
	}
}
@media (max-width: 900px){ 
	#header .inline{
		flex-direction:column;
	}
}