/* Internet Explorer < 9specific rules */
body {
	padding-bottom:5px;
}

div#content{
	padding-top: 10px;
}
ul#accessibility {
	filter:Alpha(opacity=10); 
}
ul#accessibility:hover{
	filter:Alpha(opacity=70); 
}
a.galPvLnk:hover {
	filter:Alpha(opacity=80); 
}
a.scImgGalBtnNoPrv,
a.scImgGalBtnNoNxt{
	filter:Alpha(opacity=50); 
}
a.scImgGalBtnPrv:hover,
a.scImgGalBtnNxt:hover,
a.scImgGalBtnCls:hover{
	filter:Alpha(opacity=70); 
}
ul.outCat li {
	display:inline;
}

div.margin{
	border: 1px solid silver;
}
div.scImgAnmCtrl{
	border: 1px solid silver;
}

/* === ConceptTree ========================================================== */
div.tplCoFra{
	overflow:visible;
}
div.nodeChildren_hide>div.nodeChildren{
	height:auto;
	display:none;
}
.nodeRoot{
	display:block;
	float:left
}
.nodeLead{
	display:block;
	float:left
}
.nodeChild{
	clear:both;
}
.nodeChild_pre{
	clear:both;
}
.nodeChild_co{
	clear:both;
}
.nodeSpacer{
	clear:both;
	display:block;
}