/* ============= Page layout ============= */
div.tplPge{
	min-width:900px;
	max-width:1200px;
	margin: 0px auto;
}
div.tplPgeFra{
	margin-bottom:5px;
}
div.tplColMid {
	left:230px;
}
div.tplColRgt {
	margin-left:-460px;
}
div.tplColPad {
	margin:0 5px 0 465px;
}

#menu {
	width:225px;
	left:230px;
}
#extras{
	width:225px;
	left:0px;
}

div.tplCoFra{
	min-height: 500px;
	padding: 0 10px 0px 10px;
	margin-bottom: 10px;
	overflow-x:auto;
}
/* ----- 1 and 2 col layout only ----- */
div.tplNoMenu div.tplColRgt {
	margin-left: -230px;
}
div.tplNoMenu div.tplColPad {
	margin-left: 230px;
}
div.tplNoExtras div.tplColRgt {
	margin-left: -230px;
}
div.tplNoExtras div.tplColPad {
	margin-left: 235px;
	margin-right: 0px;
}
div.tplNoExtras #menu {
	left:5px;
}
div.tplNoSideBars div.tplColPad {
	margin-left: 0px;
	margin-right: 0px;
}

/* ============= General Page styles ============= */
body{
	font-family: Arial, Helvetica, sans-serif;
	font-size:0.8em;
	padding: 5px 7px 0 5px;
	margin:0px;
}
a{
	text-decoration: none;
	color:#74515F;
}
a:hover{
	text-decoration: underline;
	color:#74515F;
}

a img{
	border-width:0px;
}
ul,ol{
	margin: 5px 0 0 0;
	padding: 0 0 0 20px;
	list-style-position: outside;
}
p{
	text-align: left;
	margin: 2px 0 5px 0;
	line-height:1.3em;
}
table{
	border-collapse: collapse;
	width:100%;
}
q:before, 
q:after {
	content: "";
}


/* ============= Accessibility menu ============= */
#accessibility {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0;
	position:absolute;
	right:0;
	width:auto;
	z-index:90;
	font-size:0.8em;
	top:5px;
}

#accessibility li{
	float: left;
	margin-right:10px;
}
#accessibility a:hover{
	text-decoration: none;
}

/* ============= Category menu ============= */

ul.outCat {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:10px;
	display:inline-block;
	text-align: center;
	background-color: #ffffff;
	border-left: 8px solid #e0dcd8;
	border-right: 8px solid #e0dcd8;
	padding-left:0px;
}
ul.outCat li{
	display: inline-block;
}
ul.outCat .outCat_i{
	display: inline-block;
	padding:4px 5px;
	font-size: 1.2em;
    font-variant: small-caps;
}
ul.outCat span.outCat_i{
	cursor: default;
}
ul.outCat a:hover{
	text-decoration: none;
}

/* ============= Top Nav menu ============= */
#navigation ul.outNav {
	position: absolute;
	right:0px;
	bottom:0px;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding: 5px 2px 3px 6px;
}
#navigation ul.outNav li{
	float: left;
	margin-right:10px;
}
#navigation ul.outNav .outNav_i{
	padding:2px;
	font-weight: bold;
}
#navigation ul.outNav a:hover{
	text-decoration: none;
}
#navigation ul.outNav span.outNav_i{
	display: inline;
}

/* ============= Bottom Nav menu ============= */
ul.outNav {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:5px 0;
	padding: 0 10px 0 0;
	text-align: right;
}
ul.outNav li{
	display: inline;
	margin-left:10px;
}
ul.outNav span.outNav_i{
	visibility: hidden;
}

/* ============= Top back menu ============= */
#navigation ul.outBk {
		list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:10px;
	display:inline-block;
	text-align: center;
	background-color: #ffffff;
	border-left: 8px solid #e0dcd8;
	border-right: 8px solid #e0dcd8;
	border-top: 8px solid #e0dcd8;
	padding-left:0px;
}
#navigation ul.outBk li{
	display: inline-block;
	border-bottom:8px solid #e0dcd8
}
#navigation ul.outBk li:hover{
	border-bottom:8px solid #967381;
}
#navigation ul.outBk .outBk_i{
	display: inline-block;
	padding:4px 5px;
	font-size: 1.2em;
    font-variant: small-caps;
}
#navigation ul.outBk a:hover{
	text-decoration: none;
}

/* ============= Left menu ============= */
ul.outMnu {
	list-style-type:none;
	margin:0 0 10px 0;
	padding: 0px 0px 0px 20px;
}
ul.outMnuOneRoot {
	list-style-type:none;
	padding: 0;
}
ul.outMnu ul{
	list-style-type:none;
	margin:0;
	padding: 0;
	line-height:20px;
}
ul.outMnu li {
	margin-top:0.5em;
	list-style-type:none;
}
span.outMnu_i{
	color: #74515F;
}
a.outMnu_i{
	color:#74515F;
}
ul.outMnu ul.outMnu_sub a.outMnu_i{
	color:#000000;
	display:block;
	margin-left:17px;
}
ul.outMnu ul.outMnu_sub span.outMnu_i{
	color: #000000;
}
ul.outMnu ul.outMnu_sub ul.outMnu_sub a.outMnu_i{
	color:#000000;
	display:block;
	margin-left:32px;
}
ul.outMnu ul.outMnu_sub ul.outMnu_sub span.outMnu_i{
	color: #000000;
}
ul.outMnu ul.outMnu_sub ul.outMnu_sub ul.outMnu_sub a.outMnu_i{
	color:#000000;
	display:block;
	margin-left:47px;
}
ul.outMnu ul.outMnu_sub ul.outMnu_sub ul.outMnu_sub span.outMnu_i{
	color: #000000;
}
li.outMnu_sel_yes .outMnu_sel_yes{
	background-color:#e0dcd8;
}
ul.outMnu .outMnu_sel_no .outMnu_sel_no:hover{
	background-color:#f0eeeb;
}
ul.outMnu ul.outMnu_sub li.outMnu_sel_no .outMnu_sel_no:hover{
	background-color:#f0eeeb;
}
ul.outMnu ul.outMnu_sub ul.outMnu_sub li.outMnu_sel_no .outMnu_sel_no:hover{
	background-color:#f0eeeb;
}
ul.outMnu ul.outMnu_sub ul.outMnu_sub ul.outMnu_sub li.outMnu_sel_no .outMnu_sel_no:hover{
	background-color:#f0eeeb;
}
ul.outMnu li.outMnu_sel_no:hover{
	background-color:#ffffff;
}
ul.outMnu ul.outMnu_sub li.outMnu_sel_no:hover{
	background-color:#ffffff;
}
ul.outMnu ul.outMnu_sub ul.outMnu_sub li.outMnu_sel_no:hover{
	background-color:#ffffff;
}
.outMnu_i:hover{
	text-decoration:none;
}

ul.outMnu li.outMnu_b {
	list-style-type: none;
}
ul.outMnu a.outMnu_tgle_o,ul.outMnu a.outMnu_tgle_c{
	width: 7px;
	display:inline-block;
	background-image: url(../img/co/mnuTgle.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;
	height: 7px;
	margin-left:5px;
	margin-right:5px;
}

ul.mnu_root ul.outMnu_sub  li.outMnu_l .outMnu_i{
	margin-left:17px;	
}	
ul.mnu_root ul.outMnu_sub ul.outMnu_sub a.outMnu_tgle_o,ul.mnu_root ul.outMnu_sub ul.outMnu_sub a.outMnu_tgle_c{
	margin-left:20px;
	float:left;
	margin-top: 6px;	
}
ul.mnu_root ul.outMnu_sub ul.outMnu_sub  li.outMnu_l .outMnu_i{
	margin-left:32px;	
}
ul.mnu_root ul.outMnu_sub ul.outMnu_sub  ul.outMnu_sub a.outMnu_tgle_o,ul.mnu_root ul.outMnu_sub  ul.outMnu_sub ul.outMnu_sub a.outMnu_tgle_c{
	margin-left:35px;
	float:left;
	margin-top: 6px;
}
ul.mnu_root ul.outMnu_sub ul.outMnu_sub   ul.outMnu_sub li.outMnu_l .outMnu_i{
	margin-left:47px;	
}

ul.outMnu li.outMnu_b .outMnu_i {
	padding-left:5px;
}
ul.outMnu li.outMnu_l .outMnu_i {
	margin-left:5px;
	display:block;
}
ul.outMnu li.outMnu_l .outMnu_i:hover {
	text-decoration:none;	}
	
ul.outMnu a.outMnu_tgle_o span,ul.outMnu a.outMnu_tgle_c span{
	display:none;
}
ul.outMnu a.outMnu_tgle_c{
	background-position: 0px 0px;
	float:left;
	margin-top: 6px;
}
ul.outMnu a.outMnu_tgle_o{
	background-position: 0px -14px;
	float:left;
	margin-top: 6px;
}
ul.outMnu li.outMnu_sel_yes > div > a.outMnu_tgle_c{
	background-position: 0px -7px;
}
ul.outMnu li.outMnu_sel_yes > div > a.outMnu_tgle_o{
	background-position: 0px -21px;
}
li.outPre ul.outMnu_sub .outMnu_i{
	font-style: normal;
}
/* Spécifique root element */
ul.mnu_root{
	padding:3px 0 3px 0px;
	border: 8px solid #e0dcd8;
	background-color:#ffffff;
}
ul.outMnu div.outMnu_dpt_0 a.outMnu_tgle_o,
ul.outMnu div.outMnu_dpt_0 a.outMnu_tgle_c{
	display:none;
}
ul.outMnu div.outMnu_dpt_0 .outMnu_i{
	font-weight: bold;
	font-size:1.5em;
	display:block;
}

/* ============= Base template Colors ============= */
/* ---------- html ---------- */
body{
	color:black;
	background-color:#f0eeeb;
}

h1,h2,h3,h4,h5,h6{
	color: #74515F;
}
h1,h2,h3,h4,h5,h6{
	margin-bottom: 0.5em;
}

ul,ol{
	color:#000000;
}
li p,li div{
	color:black;
}
ol.footNotes *:target {
	background-color: #eeecdd; 
}
/* ---------- template ---------- */
div.tplPge{
	background-color: white;
}
a.rootLnk  {
	color: #74515f;
	font-size:1.5em;
}
a.rootLnk:hover {
	color:	 #967381;
	text-decoration: none;
}

#navigation{ /* Main nav bar */
	text-align:center;
}

div.tplCoFra{
	border: 8px solid #e0dcd8;
	background-color:#ffffff;
	margin-top:10px;
}

/* ---------- menus ---------- */
#accessibility a{
	color:#777777;
}
#accessibility a:hover{
	color:#000000;
}

ul.outCat li.outCat_sel_yes .outCat_i{
	border-bottom: 8px solid #74515f;
	border-top: 8px solid #e0dcd8;
	padding:8px;
}

ul.outCat li.outCat_sel_no .outCat_i{
	border-bottom: 8px solid #e0dcd8;
	border-top: 8px solid #e0dcd8;
	padding:8px;
}
ul.outCat .outCat_i{
	color:#74515F;
}
ul.outCat a.outCat_i:hover{
	background:#ffffff;
	border-bottom: 8px solid #967381;	
}

/* ---------- Content ---------- */
.noscript{
color:gray;
}
#navigation .noscript{
color:white;
}

/* ============= Cookie warn bar ============= */
.cookieWarnBar{
	position:relative;
	border-bottom:2px solid #e0dcd8;
	background-color: #FFF;
	padding: 6px 10px;
	margin: -5px -7px 3px -7px;
	opacity:1;
	height:15px;
	min-width: 850px;
}
.cookieWarnBar.acknowledged{
	opacity:0;
	height:0px !important;
	padding: 0px 10px;
	margin: 0px -7px 0px -7px;
	border-bottom:0px;
	transition-property : opacity,display,padding,margin;
	transition-duration : 0.5s;
	-moz-transition-property : opacity,height,padding,margin;
	-moz-transition-duration : 0.5s;
	-webkit-transition-property : opacity,height,padding,margin;
	-webkit-transition-duration : 0.5s;
}
.cookieWarnBtn{
	display: block;
	width:14px;
	height:14px;
	position: absolute;
	top: 5px;
	right: 5px;
	background: url("../img/co/ttCls.png") top left no-repeat;
}
.cookieWarnBtn:hover{
	background-image: url("../img/co/ttClsOvr.png");
}
.cookieWarnBtn span{
	display:none;	
}
/* ============= Content styles ============= */

#header,
#menu{
	cursor: default;
}
#header h1{
	margin: 15px 10px 10px 70px;
	text-transform:uppercase;
	width:70%;
}
#extras,
#menu{
	padding-top: 20px;
}

#footer a{
	margin-right: 5px;	
}
	
#footer img{
	vertical-align: middle;
}

div.tplFootBanner{ 
	text-align: right;
	padding: 2px 0;
	color: #74515f;
	font-size: 0.8em;
	cursor: default;
}
div.margin{
	background-color:#ffffff; 
	padding: 3px;
	margin-bottom: 10px;
	border: 8px solid #e0dcd8;
}
.margin_ti{
	color:#74515f;
	font-size:1.125em;
	padding:5px;
	margin:0;
	text-transform:uppercase;
	font-weight: bold;
}
div.margin_co{
	font-size: 0.9em;
	overflow: auto;
}
div.margin_co p{
	text-align: left;
}
table.docHead th{
	padding-right: 5px;
	text-align: right;
}
.margin_co  .event .tt_a{
	display: block;
}
.binCap{
	text-align: center;
	margin: 10px;
}
.binImg{
	max-width:600px;
}
.binCap_ti{
	color:gray;
	font-style: italic;
}
.webCap{
	text-align: center;
	margin: 10px;
}
.webCap_ti{
	color:gray;
	font-style: italic;
}
div.margin_co .binCap,
div.margin_co .webCap{
	margin: 2px 0 3px 0;
}
.binImgInline{
	vertical-align: middle;
}

/* info tt anc */
.txt_def_act,
.txt_doc_act,
.txt_ref_act {
	color:#FFFFFF;
	background-color: #967381;
}
.txt_def_act:hover,
.txt_doc_act:hover,
.txt_ref_act:hover {
	color:white;
}

/* External links */
.txt_url_ul,
li.outMnu_typ_ext .outMnu_i,
li.outCat_typ_ext .outCat_i span,
div.docUrl a{
	background: url("../img/co/lnkExt.png") center right no-repeat;
	padding-right: 12px;
}

/* Event lists */
.margin .evtList{
	padding-right: 1px;
}
.evtListEvt{
	list-style-image: url("../img/co/evt.png");
}
.evtListDesc{
	list-style-type:square;
}
.event_closed{
	background: url("../img/co/clbClsSml.png") center left no-repeat;
	color: #967381;
}
.event_open{
	background: url("../img/co/clbOpnSml.png") center left no-repeat;
	color: #967381;
}
.event_closed:hover,
.event_open:hover{
	text-decoration: none;
	color: #967381;
}
.event {
	margin-bottom: 5px;
}
.event_ti {
	padding-left: 12px;
	color: #74515F;
}
.margin_co .event_ti {
	padding-left: 0;
}
.event_co {
	margin-bottom: 10px;
}
.event_co  li {
	list-style-image: none;
}

/* Section */
div.bkBase_co .bkSec .bkBase_ti{
	border-bottom: 1px solid;
}

/* Bal ped */
.bkBase{
	margin: 1.5em 0em;
}

div.bkBase_co .bkInfo .bkBase_ti{
	border-bottom:none;
}
.bkBase_closed{
	background: url("../img/co/clbClsLge.png") bottom left no-repeat;
	padding-left: 18px;
	border-bottom: 1px solid  #74515F;
	min-height:16px;
}
.bkBase_open{
	background: url("../img/co/clbOpnLge.png") bottom left no-repeat;
	padding-left: 18px;
	min-height:16px;
}
.bkBase_closed:hover,
.bkBase_open:hover{
	text-decoration: none;
	color: #74515F;
}
.bkEmphasis{
	background: #f0eeeb;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #CCC;
	padding: 0.5em 0.5em 0.2em; 
}
.bkEmphasis .bkBase_ti{
	margin-top: 0;
}

.margin_co .bkBase_ti{
	font-weight: bold;
	color: #74515F;
}

.bkBase_co .bkBase .bkBase_ti, .bkBase_closed{
border-bottom: none;
} 


/* ---------- text ---------- */
.txt_tb{
	margin:auto;
	border:2px solid #74515F;
	
}
.txt_tb caption{
	color: gray;
	font-style: italic;
}
.txt_tb td,
.txt_tb th{
	border:1px solid #967381;
}
.txt_tb thead{
	border-bottom:2px solid #74515F;
}
.txt_tb tfoot{
	border-top:2px solid #74515F;
}
.txt_tb p{
	margin: 1px 0;
}

.txt_t_tbcl,
.txt_t_tbtr{
	background-color:#f0eeeb;
}
.txt_n_tbtd p{
	text-align: right;
}
.txt_w_tbtd p{
	text-align: center;
}
.txt_emphasis_is,
.txt_quote_ph,
.txt_special_ph{
	color:#74515F;
}
.lnkZoom {
	background: url("../img/co/lnkZoom.png") center no-repeat;
	display:inline-block;
	width: 12px;
	height: 12px;
	margin-left: 3px;
}
.lnkZoom:hover {
	background-image: url("../img/co/lnkZoomOvr.png");
}
.lnkZoom span{
	display: none;
}

/* ---------- binary files lnks ---------- */
.infoVideo,
.infoAudio{
	font-style:italic;
	color:#777777;
}
.infoVideo p,
.infoAudio p{
	text-align:center;
}
.lnkBin{
	padding-left: 15px;
	background-image: url(../img/co/types.png);
	background-repeat: no-repeat;
}
.lnkBinWeb{
	padding-left: 0px;
	background:none;
}
.lnkBinDoc {
	background-position: 0px 2px;
}
.lnkBinFlv {
	background-position: 0px -13px;
}
.lnkBinMp3 {
	background-position: 0px -28px;
}
.lnkBinOdg {
	background-position: 0px -43px;
}
.lnkBinOdp {
	background-position: 0px -58px;
}
.lnkBinOds {
	background-position: 0px -73px;
}
.lnkBinOdt {
	background-position: 0px -88px;
}
.lnkBinPdf {
	background-position: 0px -103px;
}
.lnkBinPpt {
	background-position: 0px -118px;
}
.lnkBinRtf {
	background-position: 0px -133px;
}
.lnkBinSwf {
	background-position: 0px -148px;
}
.lnkBinXls {
	background-position: 0px -163px;
}
.lnkBinZip {
	background-position: 0px -178px;
}

/* ---------- tooltips ---------- */
.tt_act{
	color:white;
	background-color: #967381;
}

div.tt{
	font-size: 0.9em;
	border: 1px solid #74515F;
	background-color:white;
}
div.tt_ti{
	background-color:#967381;
	color: white;
	font-weight: bold;
	text-align: center;
	padding: 2px 15px 2px 2px;
}
.tt_x{
	display: block;
	width:14px;
	height:14px;
	position: absolute;
	top: 1px;
	right: 1px;
	background: url("../img/co/ttCls.png") top left no-repeat;
}
.tt_x:hover{
	background-image: url("../img/co/ttClsOvr.png");
}
.tt_x span{
	display: none;
}
div.tt_co{
	padding: 5px;
}
div.tt_co p{
	margin: 0 0 2px 0;
	text-align: left;
}

a.ttEvt_a{
	color: #74515F;
	border-bottom: 0px;
}
a.ttEvt_a:hover{
	border-bottom: 0px;
	text-decoration: underline;
	
}
a.ttEvt_act{
	color:#FFFFFF;
}
div.ttEvt_ti{
	display: none;
}
div.ttEvt_co{
	padding: 0 18px 0 0;
	background-color:#967381;
}
div.ttExtCo {
	padding: 5px 5px 5px 5px;
	background-color: white;
}
ol.footNotes{
	margin: 10px;
	font-size: 0.8em;
	padding-top: 5px;
	padding-left: 20px;
}
li.footNotes_it{
	margin-bottom: 10px;
	padding: 2px;
}
ol.footNotes p{
	margin: 0 0 5px 0;
}
div.footNotes_itti{
	font-weight: bold;
}
ol.footNotes .tt_x{
	display: none;
}

/* ---------- Gallery ---------- */

.galFra, .galMIniFra{
	text-align:center
}

.scImgSep{
	display: none;
}
span.galPv{
	border-left: 2px solid #74515F;
	margin: 4px;
	float:none;
	display:inline-block;
	background-color: #f0eeeb;
}
a.galPvLnk:hover {
	opacity:0.8;
}

div.scImgGalOver,
div.scImgZmOver{
	background-color: black;
}
div.scImgGalFra{
	background-color: white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px; 
}
div.scImgGalTi{
	font-style: italic;
	color: gray;
	cursor: default;
	font-size:0.75em;
}
div.scImgGalTbr span.scImgGalCount{
	font-style: italic;
	color: gray;
	cursor: default;
}
div.scImgGalTbr span{
	display: none;
	position: absolute;
}
div.scImgGalTbr a{
	display: block;
	width:15px;
	height:15px;
	background-repeat: no-repeat;
	background-image:url("../img/scImg/btns.gif");
	position: absolute;
	bottom:3px;
}
a.scImgGalBtnCls{
	background-position: 0px 0px;
	right:5px;
}
a.scImgGalBtnCls:hover{
	background-position: 0px -15px;
}
a.scImgGalBtnNoNxt{
	background-position: 0px -30px;
	right:330px;
	cursor: default;
}
a.scImgGalBtnNoPrv{
	background-position: 0px -45px;
	left:330px;
	cursor: default;
}
a.scImgGalBtnNxt{
	background-position: 0px -60px;
	right:330px;
}
a.scImgGalBtnNxt:hover{
	background-position: 0px -75px;
}
a.scImgGalBtnPly{
	background-position: 0px -90px;
	left:352px;
}
a.scImgGalBtnPly:hover{
	background-position: 0px -105px;
}
a.scImgGalBtnPrv{
	background-position: 0px -120px;
	left:330px;
}
a.scImgGalBtnPrv:hover{
	background-position: 0px -135px;
}
a.scImgGalBtnPse{
	background-position: 0px -150px;
	left:352px;
}
a.scImgGalBtnPse:hover{
	background-position: 0px -165px;
}

/* ---------- animation ---------- */

.seqCap_co {
	text-align: center;	
}
.animFra{
	margin: 0 auto;
	text-align: left;
}
div.scImgAnmCtrl{
	background-color: white;
	position:absolute;
	bottom:20px;
	right:5px;
	height: 25px;
	width: 80px;
}
div.scImgAnmCtrl span{
	display: none;
	position: absolute;
}
div.scImgAnmCtrl a{
	display: block;
	width:15px;
	height:15px;
	background-repeat: no-repeat;
	background-image:url("../img/scImg/btns.gif");
	position: absolute;
	bottom: 4px;
}
a.scImgAnmBtnPrv{
	background-position: 0px -120px;
	left:5px;
}
a.scImgAnmBtnPrv:hover{
	background-position: 0px -135px;
}
a.scImgAnmBtnNxt{
	background-position: 0px -60px;
	right:5px;
}
a.scImgAnmBtnNxt:hover{
	background-position: 0px -75px;
}
a.scImgAnmBtnPse{
	background-position: 0px -150px;
	left:33px;
}
a.scImgAnmBtnPse:hover{
	background-position: 0px -165px;
}
a.scImgAnmBtnPly{
	background-position: 0px -90px;
	left:33px;
}
a.scImgAnmBtnPly:hover{
	background-position: 0px -105px;
}

/* ---------- zoom ---------- */

div.scImgZmCvs{
	background-repeat: no-repeat;
	background-position: center center;
	background-image:url("../img/scImg/throbber.gif");
}
div.scImgZmFra{
	background-color: white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:5px;
}
div.scImgZmTlb{
	margin-top:5px;
	text-align: right;
}
a.scImgZmBtnCls{
	display: inline-block;
	width:15px;
	height:15px;
	background-repeat: no-repeat;
	background-image:url("../img/scImg/btns.gif");
	background-position: 0px 0px;
}
a.scImgZmBtnCls:hover{
	background-position: 0px -15px;
}
a.scImgZmBtnCls span{
	display: none;
}
.scImgZmCo img{
	background-color: white;
}

/* ---------- Options ---------- */
div.optContent{
	margin-top: 30px;
	padding-top: 10px;
}

/* ---------- search, optSearch ---------- */
div.searchFra{
	position: absolute;
	right: 5px;
	top: 25px;
	min-height: 19px;
}
input.searchText,
input.schInput{
	border: 2px solid #74515F;
	-moz-box-shadow: inset 0px 0px 3px #BBB;
	-webkit-box-shadow: inset 0px 0px 3px #BBB;
	box-shadow: inset 0px 0px 3px #BBB;
	font-size: 0.9em;
	width:95px;
	height:20px;
	padding-left:5px;
}
.schLabel {
	position: absolute;
	left: -9999px;
}
input.searchSubmit,
input.schBtnLaunch{
	display: inline-block;
	width:27px;
	height:26px;
	background-image:url("../img/co/search.png");
	background-color:#967381;
	border: 2px solid #74515F;
	cursor:pointer;
	color: transparent;
}
input.searchSubmit:hover,
input.schBtnLaunch:hover{
	background-image:url("../img/co/searchOver.png");
}
input.searchSubmit span,
input.schBtnLaunch span{
	display: none;
}
.schPgeBk .schPgeBtn,
.mnu_sch_yes .mnu_lnk{
	background-image: url(../img/co/schPgeRank.png);
	background-repeat: no-repeat;
	background-position: right;
}

div.schNoRes{
	text-align: center;
	font-size: 1.063em;
	margin-top: 18px;
}

.mnu_sch,
.schPgeBtn>span{
	display:block;
	background-color:white;
}
.schPgeRank_1 .mnu_sch,
.schPgeRank_1 .schPgeBtn>span{
	margin-right:17px;
}
.schPgeRank_2 .mnu_sch,
.schPgeRank_2 .schPgeBtn>span{
	margin-right:35px;
}
.schPgeRank_3 .mnu_sch,
.schPgeRank_3 .schPgeBtn>span{
	margin-right:53px;
}
.schPgeRank_4 .mnu_sch,
.schPgeRank_4 .schPgeBtn>span{
	margin-right:71px;
}
.schPgeRank_5 .mnu_sch,
.schPgeRank_5 .schPgeBtn>span{
	margin-right:89px;
}
.schPgeRank_6 .mnu_sch,
.schPgeRank_6 .schPgeBtn>span{
	margin-right:107px;
}
.schPgeRank_7 .mnu_sch,
.schPgeRank_7 .schPgeBtn>span{
	margin-right:125px;
}
.schPgeRank_8 .mnu_sch,
.schPgeRank_8 .schPgeBtn>span{
	margin-right:143px;
}
.schPgeRank_9 .mnu_sch,
.schPgeRank_9 .schPgeBtn>span{
	margin-right:160px;
}
div.schPropose a:hover{
    text-decoration:none;
}
.schPropose{
	position:absolute;
	width: 102px;
	border:1px solid #74515F;
	border-top:0px;
	background-color: white;
	z-index:100;
	font-size:0.9em;
}
.schBtnPropose{
	display:block;
	text-decoration:none;
	font-style: italic;
	padding:2px 3px;
	margin:1px;
}
.schBtnPropose:hover ,
.schBtnPropose:active ,
.schBtnPropose:focus {
	outline:none;
	text-decoration:none;
	background-color: #E0dcd8;
}
.schProposeExceeded{
	display:block;
	color:#967381;
	font-style: italic;
	padding:2px 3px;
}
div.schProp_no{
    display:none;
}
.schCmds_act input.schInput{
	border: 2px solid #74515F;
}
.schResFrame {
	position: fixed;
	left:50%;
	bottom:-80px;
    width:700px;
    margin-left:-350px;
	color: #74515F;
	background-color: #f0eeeb;
	border-right: 1px solid #74515F;
	border-top: 1px solid #74515F;
	border-left: 1px solid #74515F;
	height: 50px;
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
	z-index: 91;
}
.schDisplay_on .schResFrame {
	bottom: 0px;
}
.schDisplayList_on .schResFrame{
	height: 530px;
}
.schResList {
	position: absolute;
	bottom: 5px;
	left: 5px;
	top: 5px;
	right: 5px;
	display: none;
}
.schDisplayList_on .schResList {
	display: block;
}
.schResListSrl {
	position: absolute;
	left: 0px;
	right: 0px;
	overflow: auto;
	padding: 5px;
}
.searchResults a{
    margin: 0 5px;
}
.schBtnTgle {
	background-image: url(../img/co/schBtn.png);
	background-position: 0px -20px;
	background-repeat: no-repeat;
	width: 19px;
	height: 19px;
	display: block;
	position: absolute;
	bottom: 3px;
	left: 6px;
}
.schDisplayList_on .schBtnTgle{
	background-position: 0px 0px;
}
.schBtnTgle span{
	display:none;
}
.schBtnReset {
	background-image: url(../img/co/schBtn.png);
	background-position: 0px -70px;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	display: block;
	position: absolute;
	top: -14px;
	right: -15px;
}
.schBtnReset:hover{
    opacity:0.8;
}
.schBtnReset span{
    display:none;
}
.schHitBox,
.schResBox,
.schPageBox {
    text-align: left;
    margin: 4px 0px 0 40px;
    font-size: 0.875em;
	line-height:16px;
}
.schHitBox {
	background-image: url(../img/co/schBack.png);
	background-position: right 0px;
	background-repeat: no-repeat;
	position: absolute;
	bottom: 27px;
	left: 0;
	right: 0;
}
.schPageBox {
	background-image: url(../img/co/schBack.png);
	background-position: right -35px;
	background-repeat: no-repeat;
	position: absolute;
	bottom: 6px;
	left: 0;
	right: 0;
}
.schDisplay_none .schResBox{
    text-align: center;
    margin: 20px 200px 6px 200px;
}
.schDisplay_none .schHitBox{
    display:none;
}
.schBtnNxt,
.schBtnPrv,
.schBtnPrvHit,
.schBtnNxtHit{
	display:block;
	position:absolute;
	width:15px;
	height:15px;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(../img/co/schBtn.png);
	background-repeat: no-repeat;
}
.schBtnAct_no,
.schBtnHitAct_no{
    display:none;
}
.schBtnNxt span,
.schBtnPrv span,
.schBtnPrvHit span,
.schBtnNxtHit span{
    display:none;
}
.schDisplay_none .schBtnNxt,
.schDisplay_none .schBtnPrv,
.schDisplay_none .schBtnPrvHit,
.schDisplay_none .schBtnNxtHit{
    display:none;
}
.schDisplay_one .schBtnNxt,
.schDisplay_one .schBtnPrv{
    display:none;
}
.schBtnNxt{
	background-position: 0px -40px;
}
.schBtnPrv{
	background-position: 0px -55px;
}
.schBtnNxtHit{
	background-position: 0px -40px;
}
.schBtnPrvHit{
	background-position: 0px -55px;
}
.schHitFrame{
	background: url(../img/co/schHit.png) center right no-repeat;
	position:absolute;
	bottom:8px;
	right:40px;
	left:40px;
	height:20px;
	font-size:1.2em;
}
.schBtnPrvHit{
	top:3px;
	right:57px;
}
.schBtnNxtHit{
	top:3px;
	right:5px;
}
.schBtnPrv{
	right:57px;
	top:0;
}
.schBtnNxt{
	right:5px;
	top:0;
}
.schPgeBk .schPgeBtn span{
	background-position: center right;
	background-repeat:no-repeat;
	display:block;
	padding-right:165px;
}
.schPgeBk .mnu_lnk span{
	background-position: center right;
	background-repeat:no-repeat;	
	display:block;
}
.schPgeBk span.schPgeRank{
	display:none;
}
.searchResults a.schPgeBtn,
.searchResults a.mnu_lnk {
	margin: 2px;
	display: block;
	color: #74515F;
}
li.mnu_sel_yes .schPgeBtn,
div.mnu_sel_yes .mnu_lnk{
	font-weight: bold;
	text-decoration: underline;
	cursor: default;
}
div.mnu_sch_no a.mnu_lnk{
	color:#74515F;
	cursor:default;
}
div.mnu_sch_no a.mnu_lnk:hover{
	text-decoration:none;
}
.searchResults a.mnu_tgle_o,.searchResults a.mnu_tgle_c{
	position: absolute;
	margin-top: -14px;
	margin-left: -16px;
	width: 7px;
	height: 7px;
	display:inline-block;
	background-image: url(../img/co/mnuTgle.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;
}
.searchResults a.mnu_tgle_o span,.searchResults a.mnu_tgle_c span{
	display:none;
}
.searchResults div.mnu_sch_yes a.mnu_tgle_c{
	background-position: 0px -7px;
}
.searchResults div.mnu_sch_yes a.mnu_tgle_o{
	background-position: 0px -21px;
}
.searchResults div.mnu_sch_no a.mnu_tgle_c{
	background-position: 0px 0px;
}
.searchResults div.mnu_sch_no a.mnu_tgle_o{
	background-position: 0px -14px;
}
.schResListSrl ul.mnu_root {
	padding: 0 0 0 20px;
}
.schResListSrl li.mnu_b {
	list-style-type:none;
	margin:0;
}
.schResListSrl ul {
	color:#74515F;
	margin:0;
	list-style: disc;
	padding-left: 13px;
	list-style-position: outside;
}
.schResListSrl ul.schParentList{
	list-style-type: none;
}
.schResListSrl ul.schParentList_c{
	display:none;
}
.schResListSrl ul.schParentList_o{
	display:block;
}
li.schPgeBk{
	position:relative;
}
a.schParent_tgle_c,
a.schParent_tgle_o {
	position: absolute;
	margin-left: -16px;
	top: 2px;
	width: 7px;
	height: 7px;
	display:inline-block;
	background-image: url(../img/co/mnuTgle.png);
	background-repeat: no-repeat;
}
a.schParent_tgle_c span,
a.schParent_tgle_o span {
	display:none;
}
a.schParent_tgle_c{
	background-position: 0px -7px;
}
a.schParent_tgle_o{
	background-position: 0px -21px;
}
.schParent_tgle_c:hover,
.schParent_tgle_o:hover {
	text-decoration:none;
	color: #74515F;
}
.schPgeBtn:hover,
.mnu_lnk:hover {
	color: #967381;
}
.schResCnt,
.schHitCnt{
    display:inline-block;
    min-width:40px;
    text-align: center;
}
.schDisplay_none .schResCnt,
.schDisplay_one .schResCnt{
    display:none;
}
.schHit {
	background-color: #f0eeeb;
	border-radius: 3px; 
}
.schHit_current {
	background-color: #e0dcd8;
	color:white;
	border-radius: 3px; 
}
.schTerm{
    font-weight: bold;
}
.schTerm em{
    font-weight: normal;
}
.schDisplay_on #menu ul.mnu_root .mnu_sch_no > a:hover{
    text-decoration:none;
}
.schDisplay_on #menu ul.mnu_root .mnu_sch_no > a.mnu_lnk {
    color: #74515F;
    cursor: default;
}
.tplSchBox{
    /* Fixed IE7 */
    position:relative;
    z-index: 2;
}

/* legal stuff */
div.tplFootBanner span.copyright {
	display: block;
	padding: 2px 0 0 5px;
	float: left;
}
div.tplFootBanner a.legalLnk:hover {
	color:#937381;
}

/* ============= Blog stuff ============= */
.bkPostItem{
	background-color: #f0eeeb;
	padding:5px;
}
.bkPostItem h2{
	margin:0;
}
.postCo {
	background-color: white;
	padding: 1px 5px;
	margin: 3px 3px;
}
.postCo .bkBase{
	margin: 0.5em 0;
}
ul.tagList{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	padding: 0;
}

ul.tagList > li a{
	display:block;
}
ul.tagList > li{
	padding:0 3px;
	margin:3px 0;
}
ul.tagList > li.tagFilter_true{
	background-color: #f0eeeb;
}
.tagFilter_true .tagDisplay_false{
	display:none;
}
.tagFilter_true .tagDisplay_true .postCo {
	position:relative;
	overflow:hidden;
	max-height:100px;
}
.postShade,
.postShade span{
	display:none;
}
.tagFilter_true .tagDisplay_true .postShade {
	position:absolute;
	display:block;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

/* === ConceptTree ========================================================== */
.treeRoot>.nodeRoot>.nodeLblFra{
	border-left:0px;
}
.treeRoot>.nodeRoot>.nodeLblFra>.nodeLbl{
	border-width: 2px;
}
.treeRoot>.nodeChildren_hide>.nodeLblFra>.nodeLbl{
	border-bottom-width: 5px;
}
.treeRoot>.nodeRoot>.nodeLblFra>.nodeLbl div.nodeTi{
	font-size: 1.1em;
}
.nodeChild{
	padding-left:10px;
}
.nodeChild_pre{
	border-left:2px solid silver;
}
.nodeLbl,.nodeRef{
	border:1px solid gray;
	padding:5px 8px;
	display:inline-block;
	margin-top:5px;
	background-color:white;
	max-width:300px;
}
.nodeChildren_hide>div>.nodeLbl{
	background-position: bottom left;
	background-repeat: repeat-x;
	background-image: url(../img/tree/nodeChiHideBk.png);

}
.nodeLblCo{
	padding-left:20px;
	background-position: center left;
	background-repeat: no-repeat;
}
.nodeRef{
	border-color: silver;
}
.nodeDesc{
	font-size: 0.8em;
	color: gray;
}
.nodeChildren{
	padding-left:5px;
}
div.nodeChildren_hide>div.nodeChildren{
	opacity:0;
	height:0px !important;
	transition-property : opacity,display;
	transition-duration : 0.1s;
	-moz-transition-property : opacity,height;
	-moz-transition-duration : 0.1s;
	-webkit-transition-property : opacity,height;
	-webkit-transition-duration : 0.1s;
}
div.nodeChildren_show>.nodeChildren{
	opacity:1;
	height:auto;
	transition-property : opacity,display;
	transition-duration : 1.5s;
	-moz-transition-property : opacity,height;
	-moz-transition-duration : 1.5s;
	-webkit-transition-property : opacity,height;
	-webkit-transition-duration : 1.5s;
}
.nodeLead{
	display:inline-block;
	height:18px;
	border-left:2px solid silver;
	border-bottom:2px solid silver;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	vertical-align: top;
}
.nodeLeadSpacer{
	display:inline-block;
	width:12px;
	height:18px;
}
.nodeRoot{
	display:inline-block;
}
.nodeLblFra,.nodeRefFra{
	display:inline-block;
}
.nodeChildren_1 .nodeLbl{
	min-width: 60px;
}
.nodeChildren_2 .nodeLbl{
	min-width: 120px;
}
.nodeChildren_3 .nodeLbl{
	min-width: 180px;
}
.nodeChildren_4 .nodeLbl{
	min-width: 240px;
}
.nodeChildren_5 .nodeLbl{
	min-width: 300px;
}
.nodeChildren_6 .nodeLbl{
	min-width: 360px;
}
.nodeChildren_7 .nodeLbl{
	min-width: 420px;
}
.nodeChildren_8 .nodeLbl{
	min-width: 480px;
}
.nodeChildren_9 .nodeLbl{
	min-width: 540px;
}
.nodeIco{
	float:left;
	margin-right:3px;
}
div.nodeTi{
	line-height:16px;
	font-weight: bold;
	word-wrap: break-word;
}
span.nodeTi,
a.nodeTi{
	color:#464646;
}
.nodeChildren span.nodeTi,
.nodeChildren a.nodeTi{
	color:#525252;
}
.nodeChildren .nodeChildren span.nodeTi,
.nodeChildren .nodeChildren a.nodeTi{
	color:#5E5E5E;
}
.nodeChildren .nodeChildren .nodeChildren span.nodeTi,
.nodeChildren .nodeChildren .nodeChildren a.nodeTi{
	color:#6B6B6B;
}
.nodeChildren .nodeChildren .nodeChildren .nodeChildren span.nodeTi,
.nodeChildren .nodeChildren .nodeChildren .nodeChildren a.nodeTi{
	color:#787878;
}
.nodeChildren .nodeChildren .nodeChildren .nodeChildren .nodeChildren span.nodeTi,
.nodeChildren .nodeChildren .nodeChildren .nodeChildren .nodeChildren a.nodeTi{
	color:#858585;
}
.nodeChildren .nodeChildren .nodeChildren .nodeChildren .nodeChildren .nodeChildren span.nodeTi,
.nodeChildren .nodeChildren .nodeChildren .nodeChildren .nodeChildren .nodeChildren a.nodeTi{
	color:#919191;
}
.nodeChildren .nodeChildren .nodeChildren .nodeChildren .nodeChildren .nodeChildren .nodeChildren span.nodeTi,
.nodeChildren .nodeChildren .nodeChildren .nodeChildren .nodeChildren .nodeChildren .nodeChildren a.nodeTi{
	color:#9E9E9E;
}
.nodeChildren .nodeChildren .nodeChildren .nodeChildren .nodeChildren .nodeChildren .nodeChildren .nodeChildren span.nodeTi,
.nodeChildren .nodeChildren .nodeChildren .nodeChildren .nodeChildren .nodeChildren .nodeChildren .nodeChildren a.nodeTi{
	color:#ABABAB;
}
div.nodeChildren_hide>div.nodeChildren > .nodeChild{
/*	margin-bottom:2px;*/
/*	margin-right:5px;*/
	display:none;
}
a.nodeMoreDesc_a{
	display:inline-block;
	background-repeat: no-repeat;
	background-image: url(..//img/co/search.gif);
	width:16px;
	height:16px;
	vertical-align: bottom;
	margin-left:5px;
	border:0px;
}
a.nodeMoreDesc_a:hover{
	background-image: url(..//img/co/searchOver.gif);
	border:0px;
}
.nodeMoreDesc_a span{
	display:none;
}

/* Node types */
.nodeType_normal .nodeLblCo{
	padding-left:0px;
}
.nodeType_back .nodeLblCo{
	background-image: url(../img/tree/back.png);
}
.nodeType_date .nodeLblCo{
	background-image: url(../img/tree/date.png);
}
.nodeType_down .nodeLblCo{
	background-image: url(../img/tree/down.png);
}
.nodeType_flag .nodeLblCo{
	background-image: url(../img/tree/flag.png);
}
.nodeType_forbn .nodeLblCo{
	background-image: url(../img/tree/forbn.png);
}
.nodeType_forward .nodeLblCo{
	background-image: url(../img/tree/forward.png);
}
.nodeType_home .nodeLblCo{
	background-image: url(../img/tree/home.png);
}
.nodeType_idea .nodeLblCo{
	background-image: url(../img/tree/idea.png);
}
.nodeType_imp .nodeLblCo{
	background-image: url(../img/tree/imp.png);
}
.nodeType_imp{
	border: 1px solid #74515F;
}
.nodeChildren_hide>div>.nodeType_imp{
	background-image: url(../img/tree/nodeChiHideBkImp.png);
}
.nodeType_info .nodeLblCo{
	background-image: url(../img/tree/info.png);
}
.nodeType_key .nodeLblCo{
	background-image: url(../img/tree/key.png);
}
.nodeType_nok .nodeLblCo{
	background-image: url(../img/tree/nok.png);
}
.nodeType_ok .nodeLblCo{
	background-image: url(../img/tree/ok.png);
}
.nodeType_pers-female .nodeLblCo{
	background-image: url(../img/tree/pers-female.png);
}
.nodeType_pers-group .nodeLblCo{
	background-image: url(../img/tree/pers-group.png);
}
.nodeType_pers-male .nodeLblCo{
	background-image: url(../img/tree/pers-male.png);
}
.nodeType_quest .nodeLblCo{
	background-image: url(../img/tree/quest.png);
}
.nodeType_sm-happy .nodeLblCo{
	background-image: url(../img/tree/sm-happy.png);
}
.nodeType_sm-sad .nodeLblCo{
	background-image: url(../img/tree/sm-sad.png);
}
.nodeType_star .nodeLblCo{
	background-image: url(../img/tree/star.png);
}
.nodeType_stop .nodeLblCo{
	background-image: url(../img/tree/stop.png);
}
.nodeType_up .nodeLblCo{
	background-image: url(../img/tree/up.png);
}
.nodeType_wait .nodeLblCo{
	background-image: url(../img/tree/wait.png);
}
.nodeType_0 .nodeLblCo{
	background-image: url(../img/tree/0.png);
}
.nodeType_1 .nodeLblCo{
	background-image: url(../img/tree/1.png);
}
.nodeType_2 .nodeLblCo{
	background-image: url(../img/tree/2.png);
}
.nodeType_3 .nodeLblCo{
	background-image: url(../img/tree/3.png);
}
.nodeType_4 .nodeLblCo{
	background-image: url(../img/tree/4.png);
}
.nodeType_5 .nodeLblCo{
	background-image: url(../img/tree/5.png);
}
.nodeType_6 .nodeLblCo{
	background-image: url(../img/tree/6.png);
}
.nodeType_7 .nodeLblCo{
	background-image: url(../img/tree/7.png);
}
.nodeType_8 .nodeLblCo{
	background-image: url(../img/tree/8.png);
}
.nodeType_9 .nodeLblCo{
	background-image: url(../img/tree/9.png);
}
.nodeType_add .nodeLblCo{
	background-image: url(../img/tree/add.png);
}
.nodeType_delete .nodeLblCo{
	background-image: url(../img/tree/delete.png);
}
.nodeType_tfc-go .nodeLblCo{
	background-image: url(../img/tree/tfc-go.png);
}
.nodeType_tfc-stop .nodeLblCo{
	background-image: url(../img/tree/tfc-stop.png);
}
.nodeType_attach .nodeLblCo{
	background-image: url(../img/tree/attach.png);
}
.nodeType_cog .nodeLblCo{
	background-image: url(../img/tree/cog.png);
}
.nodeType_tag-blue .nodeLblCo{
	background-image: url(../img/tree/tag-blue.png);
}
.nodeType_tag-green .nodeLblCo{
	background-image: url(../img/tree/tag-green.png);
}
.nodeType_tag-orange .nodeLblCo{
	background-image: url(../img/tree/tag-orange.png);
}
.nodeType_tag-pink .nodeLblCo{
	background-image: url(../img/tree/tag-pink.png);
}
.nodeType_tag-red .nodeLblCo{
	background-image: url(../img/tree/tag-red.png);
}
.nodeType_tag-yellow .nodeLblCo{
	background-image: url(../img/tree/tag-yellow.png);
}
.nodeType_pencil .nodeLblCo{
	background-image: url(../img/tree/pencil.png);
}
.nodeType_puzzle .nodeLblCo{
	background-image: url(../img/tree/puzzle.png);
}
.nodeType_wand .nodeLblCo{
	background-image: url(../img/tree/wand.png);
}
.nodeType_zoom .nodeLblCo{
	background-image: url(../img/tree/zoom.png);
}
.treeSearch_mach > .nodeLblFra > .nodeLbl{
	border: 1px solid #74515F;
}
.treeSearch_mach > .nodeLblFra > .nodeLbl .nodeTi{
	color: #74515F;
}
.treeSearch_cur > .nodeLblFra > .nodeLbl{
	-webkit-animation:glow 0.5s ease-in-out 0s 1 alternate;
	animation:glow 0.5s ease-in-out 0s 1 alternate;
	background-color:#967381;
}
@-webkit-keyframes glow {
	0% {-webkit-transform: scale(1);}
	50% {-webkit-transform: scale(1.03);}
	100% {-webkit-transform: scale(1);}
}
@keyframes glow {
	0% {transform: scale(1);}
	50% {transform: scale(1.03);}
	100% {transform: scale(1);}
}

/* === TOOLBAR - ConceptTree ========================================================== */
div.treeRoot.treeHasToolbar{
	border: 1px solid #74515F;
	margin-right:5px;
}
div.treeRoot.treeHasToolbar .nodeDepth_0{
	margin: 3px;
}
div.treeRoot.treeHasToolbar.treeSearch_off .treeScroll{
	overflow:hidden;
}
div.treeRoot.treeHasToolbar .treeScroll{
}
div.treeRoot.treeHasToolbar.treeSearch_on .treeScroll{
	max-height:600px;
	overflow:auto;
}
div.treeToolbar{
	background-color:#967381;
	border-bottom:1px solid #74515F;
	padding:0;
	height:20px;
	text-align:right;
	z-index:2;
	font-size:0.75em;
	position:relative;
}
div.treeStatusbar{
	background-color:#fff5ea;
	border-top:1px solid #74515F;
	padding:0;
	text-align:left;
	padding:3px;
	z-index:2;
	font-size:0.75em;
	position:relative;
	display:none;
	color: gray;
}
div.treeRoot.treeSearch_on .treeStatusbar{
	display:block;
}
div.treeToolbar form.treeSearchForm{
	display:inline-block;
	position: absolute;
	left: 3px;
	top:2px;
}
div.treeToolbar span.treeSearchLabel{
	display:inline-block;
	margin-right: 5px;
	color:#ffffff;
}
div.treeToolbar span.treeSearchResultLabel{
	display:inline-block;
	margin-left: 5px;
	color:gray;
}
div.treeToolbar input.treeSearchInput{
	border: 1px solid #74515F;
	margin:0;
	padding:0;
}
div.treeSearch_off div.treeToolbar form.treeSearchForm{
	display:none;
}
div.treeToolbar a.treeBtnSearch{
	display:inline-block;
	width: 20px;
	height: 20px;
	background: url(../img/tree/search.png) center center no-repeat;
	margin-right:3px;
}
div.treeSearch_on div.treeToolbar a.treeBtnSearch{
	background-color: #f0eeeb;
}
div.treeToolbar a.treeBtnOpenAll{
	display:inline-block;
	width: 20px;
	height: 20px;
	background: url(../img/tree/open.png) center center no-repeat;
	margin-right:3px;
}
div.treeToolbar a.treeBtnCloseAll{
	display:inline-block;
	width: 20px;
	height: 20px;
	background: url(../img/tree/close.png) center center no-repeat;
	margin-right:3px;
}
div.treeToolbar a.treeBtnPrv{
	display:inline-block;
	width: 20px;
	height: 14px;
	background: url(../img/tree/prv.png) center center no-repeat;
	margin-left:3px;
	vertical-align:middle;
}
div.treeToolbar a.treeBtnNxt{
	display:inline-block;
	width: 20px;
	height: 14px;
	background: url(../img/tree/nxt.png) center center no-repeat;
	margin-left:3px;
	vertical-align:middle;
}
div.treeToolbar a.treeBtnSearch:hover,
div.treeToolbar a.treeBtnPrv:hover,
div.treeToolbar a.treeBtnNxt:hover,
div.treeToolbar a.treeBtnOpenAll:hover,
div.treeToolbar a.treeBtnCloseAll:hover{
	opacity:0.5;
}
div.treeToolbar span.treeSep,
div.treeToolbar a.treeBtnSearch span,
div.treeToolbar a.treeBtnPrv span,
div.treeToolbar a.treeBtnNxt span,
div.treeToolbar a.treeBtnOpenAll span,
div.treeToolbar a.treeBtnCloseAll span{
	display:none;
}
div.treeSearch_noact  a.treeBtnNxt,
div.treeSearch_noact  a.treeBtnPrv{
	display:none;
}
/* === STOP - ConceptTree ========================================================== */

/* === START - PLAYER MEDIAS ================================================ */
.display_off {
	display: none;
}
.mediaPlayer{
	display:inline-block;
	position: relative;
}
.player_bk {
	text-align: left;
	border: 1px solid black;
	-webkit-box-shadow: inset 0 1px 0px rgba(255,255,255,.2);
	box-shadow: inset 0 1px 0px rgba(255,255,255,.2);
	background: -moz-linear-gradient(top, #494949 0%, #434242 31%, #393838 55%, #242323 83%, #1b1a1a 100%, #161515 100%, #0b0b0b 100%);
	background: -webkit-linear-gradient(top, #494949 0%, #434242 31%, #393838 55%, #242323 83%, #1b1a1a 100%, #161515 100%, #0b0b0b 100%);
	background: linear-gradient(top, #494949 0%, #434242 31%, #393838 55%, #242323 83%, #1b1a1a 100%, #161515 100%, #0b0b0b 100%); /* W3C */
	height: 30px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.3),inset 0 1px 0px rgba(255,255,255,.2);
	box-shadow: 0px 0px 3px rgba(0,0,0,.3),inset 0 1px 0px rgba(255,255,255,.2);
	margin: auto;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
	display: inline-block;
}
object.resAudio {
	visibility:hidden;
}
.player_bk button {
	display: inline-block;
	border:none;
	padding: 0;
	margin: 0;
	cursor:pointer;
	vertical-align: middle;
	background:transparent;
}

.player_bk img {
	box-shadow:none;
}

.pause_btn,
.play_btn {
	border-right: 1px solid black;
}
.mute_btn,
.muted_btn,
.transcript_btn,
.audiodesc_btn,
.altvideo_btn,
.defaultvideo_btn {
	padding-right: 0;
}
.mute_btn,
.muted_btn{
	border-left: 1px solid black;
}
.player_bk .video_act_on{
	cursor:default;
	opacity: 0.2;
}
div.volume_bk {
	width: 50px;
	height: 4px;
	cursor:pointer;
	border: 1px solid black;
	display: inline-block;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background-color: #242323;
	-webkit-box-shadow: inset 0px 4px 4px rgba(0,0,0,.6);
	-moz-box-shadow: inset 0px 4px 4px rgba(0,0,0,.6);
	box-shadow: inset 0px 4px 4px rgba(0,0,0,.6);
	position: relative;
	top: -2px
}
div.volume_value {
	height: 4px;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-o-border-radius: 20px;
	background-color: #cc181e;
}
div.seek_progress {
	width: 210px;
	margin-left: 4px;
	cursor:pointer;
	border: 1px solid black;
	display: inline-block;
	height: 8px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background-color: #242323;
	-webkit-box-shadow: inset 0px 4px 4px rgba(0,0,0,.6);
	-moz-box-shadow: inset 0px 4px 4px rgba(0,0,0,.6);
	box-shadow: inset 0px 4px 4px rgba(0,0,0,.6);
	position: relative;
	top: 1px;
}
div.seek_value {
	width: 0;
	position: absolute;
	top: 0;
	height: 8px;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-o-border-radius: 20px;
	background-color: #cc181e;
}
div.load_progress {
	width: 0;
	background-color: #fff;
	height: 8px;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-o-border-radius: 20px;
	opacity: 0.2;
}
input[type="range"]  {
	-webkit-appearance: none !important;
	width: 100%;
	background-color: transparent;
	border: none;
	margin: auto;
	transition: all 0.3s ease;
	cursor: pointer;
	position: absolute;
	left: 0;
	cursor: pointer;
	padding: 0;
}
input[type="range"]::-moz-range-track {
	opacity: 0;
}
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	position: relative;
	top: 0px;
	z-index: 1;
	width: 11px;
	height: 11px;
	cursor: pointer;
	border: none;
	background: none;
}
input[type="range"]::-moz-range-thumb {
	/*background: none;*/
	border: none;
	position: relative;
	top: 0px;
	z-index: 1;
	width: 10px;
	height: 10px;
	cursor: pointer;
}
input[type="range"]::-ms-thumb {
	background: none;
	border: none;
	position: relative;
	top: 0px;
	z-index: 1;
	width: 10px;
	height: 10px;
	cursor: pointer;
}
input[type="range"]::-ms-track {
	color: transparent;
	border: none;
	background: none;
}
input[type="range"]::-ms-fill-lower {
	background: none;
	border: none;
}
input[type="range"]::-ms-fill-upper {
	background: none;
	border: none;
}
input.seek_btn[type="range"] {
	top: -1px;
	height: 10px;
}
input.volume_btn[type="range"] {
	top: -3px;
	height: 10px;
}
div.time_bk {
	display:inline-block;
	color: #E7E7E7;
	margin-top: 4px;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 0.9em;
}
div.transcript{
	width: 630px;
	margin: 5px auto 10px;
	padding: 5px;
	border: 1px solid;
	box-shadow: 1px 1px 2px;
	border-radius: 5px 0;
	text-align: left;
}
video {
	box-shadow: 1px 1px 4px;
	-moz-box-shadow: 1px 1px 4px;
	-webkit-box-shadow: 1px 1px 4px;
	-o-box-shadow: 1px 1px 4px;
	display: block;
	margin: 5px auto;
}
ul.btnsLangList .capt{
	display: block;
}
.subBox {
	position: absolute;
	width: 500px;
	left: 50%;
	margin-left: -250px;
	bottom: 40px;
	z-index: 1;
}
.subBox_co{
	background: #000;
	box-shadow: 1px 1px 3px #000;
	color: #fff;
	font-size: 1.1em;
}
.subDisplay_off{
	opacity: 0;
	transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}
.subDisplay_on{
	opacity: 1;
	transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}
.subBox.subDisplay_on{
	opacity: 0.7;
}
ul.btnsLangList {
	position: absolute;
	width: 150px;
	text-align: left;
	list-style: none;
	margin: 0;
	padding: 4px;
	border: 1px solid black;
	-webkit-box-shadow: inset 0 1px 0px rgba(255,255,255,.2);
	box-shadow: inset 0 1px 0px rgba(255,255,255,.2);
	background: -moz-linear-gradient(top, #494949 0%, #434242 31%, #393838 55%, #242323 83%, #1b1a1a 100%, #161515 100%, #0b0b0b 100%);
	background: -webkit-linear-gradient(top, #494949 0%, #434242 31%, #393838 55%, #242323 83%, #1b1a1a 100%, #161515 100%, #0b0b0b 100%);
	background: linear-gradient(top, #494949 0%, #434242 31%, #393838 55%, #242323 83%, #1b1a1a 100%, #161515 100%, #0b0b0b 100%); /* W3C */
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.3),inset 0 1px 0px rgba(255,255,255,.2);
	box-shadow: 0px 0px 3px rgba(0,0,0,.3),inset 0 1px 0px rgba(255,255,255,.2);
	left: 325px;
	bottom: 32px;
	z-index: 2;
}
ul.btnsLangList a{
	color: #E7E7E7;
	background: transparent;
	display: block;
	padding: 2px 5px;
	border: none;
	cursor:pointer;
	text-decoration: none;
}
ul.btnsLangList.subDisplay_off{
	visibility: hidden;
}
ul.btnsLangList a:hover,
ul.btnsLangList a.subSelect_on{
	transition: all .25s ease-in-out;
   -moz-transition: all .25s ease-in-out;
   -webkit-transition: all .25s ease-in-out;
	color: #333;
	background: rgba(231, 231, 231, 0.87);
}

.altVids_bk {
	display:inline-block;
}
/*Fullscreen Mode*/
.fullscreen_on {
	position: static;
}
.fullscreen_on video,
.fullscreen_on object {
	max-width: none;
	z-index: 3;
	position: fixed;
	top: 50%;
	left: 50%;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
}
.fullscreen_on .video_bk {
	position: fixed;
	left: 50%;
	z-index: 3;
	bottom: 20px;
}
.fullscreen_on .is_6_toolsBtn {
	margin-left: -275px;
}
.fullscreen_on .is_5_toolsBtn {
	margin-left: -262.5px;
}
.fullscreen_on .fullscreen_on .is_4_toolsBtn {
	margin-left: -247.5px;
}
.fullscreen_on .is_3_toolsBtn {
	margin-left: -235px;
}
.fullscreen_on .is_2_toolsBtn {
	margin-left: -222.5px;
}
.fullscreen_on .is_1_toolsBtn {
	margin-left: -210px;
}
.fullscreen_on .is_0_toolsBtn {
	margin-left: -197.5px;
}
.fullscreen_on .fullScreen_btn {
	background-position: -1039px 1px;
}
.fullscreen_on .fullScreen_btn:hover {
	background-position: -1079px 1px;
}
.fullscreen_on .subBox {
	z-index: 3;
	bottom: 55px;
}
.fullscreen_bg {
	background: #000000;
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
/* === STOP - PLAYER MEDIAS ================================================= */


/************************************************
 Stc 2016-07-01
************************************************/

/** Suppr line galleries title **/
div.bkBase_co .bkInfo .bkBase_ti,
div.bkBase_co .bkEmphasis .bkBase_ti,
div.bkBase_co .bkExtra .bkBase_ti,    
div.bkBase_co .bkGallery .bkBase_ti,
.bkBase_closed {
	border-bottom: none;
	font-size: 100%;
}

/** Suppr background image for inline URL **/
.txt_url_ul {
	background: none;
	padding-right: 0px;
}

/** Add counter to sections **/
body{counter-reset: section;}
.bkSec > h3.bkBase_ti:before {
	content: counter(section) ". ";
	counter-increment: section;
}

/** Suppr color to special text **/
.txt_special_ph {
    color: #000000;
}

/** Suppr color to links in main page **/
div#content a.tt_a {
	color: black;
}

