/* SKIN.CSS */

/*	* Violet foncé : #427727
	* Violet clair : #c5c02e
	* Gris foncé : #e0dcd8
	* Gris clair : #f0eeeb */

/* GENERAL */

/* STC
:root {
  --bgcolor1: #427727;
	--bgcolor2: #c5c02e;
	--titlecolor: #800203;
	--bgbkemphcolor : #e2c99d
}

*/

body{
	font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", "Luxi Sans", sans-serif;
	font-size:0.9em;
	margin:0px;
	color:black;
	background-color:#427727;
}
a{
	color:#800203;
}
a:hover{
	text-decoration: none;
}
a img{
	border-width:0px;
}
q::before, q::after {
    content: "";
}
ul,ol{
	margin: 5px 0 0 0;
	list-style-position: outside;
}
p{
	text-align: justify;
	line-height: 155%;
}
table{
	border-collapse: separate;
	border-spacing: 10px;
}
h2, h3, h4, h5 {
	margin-bottom: 0.5em;
	color:#800203;
}
.bkSec > h3.bkBase_ti{
	font-size:1.8em;
}
h3{
	font-size:1.4em;
}
h4, h5{
	font-size:1.2em;
}
.bkBase_ti, .seqCap_ti {
		text-align: center;
}
.txt_tb{
	margin:auto;
	border:2px solid #777;
}
.txt_tb caption{
	color: #676767;
	font-style: normal;
	font-size: 0.95em;
	padding-bottom: 0.25em;
}
.txt_tb td,
.txt_tb th{
	border:1px solid #777;
}
.txt_tb thead{
	border-bottom:2px solid #777;
}
.txt_tb tfoot{
	border-top:2px solid #777;
}
.txt_tb p{
	margin: 1px 0;
}
.txt_t_tbcl,
.txt_t_tbtr{
	background-color:#fff5ea;
}
.txt_n_tbtd p{
	text-align: right;
}
.txt_w_tbtd p{
	text-align: center;
}

/* #header */
#header{
	background-color:#427727;
}

/* TITRE DU SITE */
#header .tplTitle {
	font-size: 2.5em;
	line-height:55px;
	text-indent:1em;
}
#header .tplTitle a{
	color:#ffffff;
	text-decoration:none;
}
#header .tplTitle a:hover{
	color:#d2b1a1;
}

/* ACCESSIBILITE */
ul#accessibility {
	list-style-type:none;
	margin:0;
	padding:0;
	position:absolute;
	right:0;
	width:auto;
	z-index:90;
	font-size:0.6em;
	top:5px;
}
ul#accessibility a{
	color:#ffffff;
	text-decoration:none;
	opacity: 0;
}
ul#accessibility a:hover, ul#accessibility a:focus{
	opacity: 1;
	color:#d2b1a1;
}

ul#accessibility li{
	float: left;
	margin-right:10px;
}

/* NAVIGATION */
ul.outCat, ul.outBk {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	text-align:right;
	margin:0;
	padding: 4px 2px 4px 6px;
	font-size: 110%;
}
ul.outCat li, ul.outBk li{
	display:inline-block;
	padding: 8px 8px;
	font-size:1.2em;
	margin-left:7px;
}
ul.outCat li:first-child {
    display: none;
}
ul.outCat .outCat_i, ul.outBk .outBk_i{
	padding:4px 5px;
	text-decoration: none;
}
ul.outCat li.outCat_sel_yes .outCat_i {
	color:#d2b1a1;
}
ul.outCat li.outCat_sel_no .outCat_i, #navigation ul.outBk .outBk_i {
	color:#ffffff;
}
ul.outCat a.outCat_i:hover, #navigation ul.outBk a.outBk_i:hover{
	opacity:0.9;
	color:#d2b1a1;
}

/* MENU */
#outSec {
	background-color:#c5c02e;
}
#outSec > ul {
	list-style: outside none none;
	float:right;
	margin:0 20px 0 0;
	padding: 4px 2px 4px 2px;
	line-height: 25px;
}
#outSec > ul a.bkBase_ti_lo {
	color: #ffffff;
	text-decoration: none;
}
#outSec > ul > li {
	display: inline;
	margin-right:30px;
}
#outSec > ul a.bkBase_ti_lo:hover {
	color: #e0dcd8;
}
#outSec .mnuSecSrlUpFra, #outSec .mnuSecSrlDwnFra{
	display: none;
}

/* FOOTER */
footer {
	background-color:#e0dcd8;
	border-top:8px solid #f0eeeb;
}
footer img{
	vertical-align: middle;
}
.margin_ti{
	text-align: center;
	font-size:110%;
	margin:0;
	font-weight: bold;
	margin-bottom:0.5em;
}
.margin_co{
	font-size: 90%;
	overflow: auto;
}
.margin_co p{
	text-align: left;
}
.margin_co a{
	color:#0d405d;
}
.margin_co	.event .tt_a{
	display: block;
}
.tplFootBanner{
	text-align: center;
	padding:4px 3px 4px 3px;
	font-size: 0.8em;
	line-height:500%;
}
.tplFootBanner .btnKelis img{
	margin-bottom: 15px;
}
.tplFootBanner span.copyright {
	display: block;
	padding: 2px 0 0 5px;
	float: left;
}
.tplFootBanner a.generatorLink {
	padding: 2px 5px 0 0;
	float: right;
}
.tplFootBanner a.ttLegal_a {
	margin-right: 5px;
}
.ttLegal_fra {
	font-size: 90%;
}
.ttLegal_fra .ttLegal_ti {
	text-align: center;
	padding: 2px 15px 2px 2px;
}
.ttLegal_fra .ttLegal_co {
	padding: 3px;
	font-size: 0.8em;
}
.legalLnk {
		margin: 0 20px 0 0;
}

/*	HOME	*/
.home .bkBase_ti, .home .bkBase_co {
    background-color: #fff;
}
.home .bkEmphasis .bkBase_co {
    background-color: transparent;
}
.home #content{
	background-color:transparent;
}

/* CONTENT */
#content{
	background-color:#ffffff;
}
table.docHead th{
	padding-right: 5px;
	text-align: right;
}
.bkBase_ti{
	margin:0;
	padding:1em;
}
#content > .bkBase:first-child > .bkBase_ti {
	background-color:rgba(255,255,255,0.7);
	font-size:3em;
}

.bkBase_co {
    padding: 0.5em;
}
.binCap{
	text-align: center;
	margin: 10px;
}
.animFra .binCap{
	margin: 0px;
}
.binCap_ti{
	color:#676767;
	font-style: normal;
	padding-top: 0.25em;
	font-size: 0.9em;
}
.webCap{
	text-align: center;
	margin: 10px;
}
.webCap_ti{
	color:#676767;
	font-style: italic;
}
div.margin_co .binCap,
div.margin_co .webCap{
	margin: 2px 0 3px 0;
}
.binImgInline{
	vertical-align: middle;
}
.bkEmphasis {
		background-color: #e2c99d;
		padding: 1.5em 0;
		margin:1.5em 0;
}

/* TYPES DE FICHIERS */
.lnkBin{
	padding-left: 15px;
	background-image: url(../img/co/types.png);
	background-repeat: no-repeat;
}
.lnkBinWeb{
	padding-left: 0px;
	background:none;
}
.lnkBinDoc {
	background-position: 0px 2px;
}
.lnkBinFlv {
	background-position: 0px -13px;
}
.lnkBinMp3 {
	background-position: 0px -28px;
}
.lnkBinOdg {
	background-position: 0px -43px;
}
.lnkBinOdp {
	background-position: 0px -58px;
}
.lnkBinOds {
	background-position: 0px -73px;
}
.lnkBinOdt {
	background-position: 0px -88px;
}
.lnkBinPdf {
	background-position: 0px -101px;
}
.lnkBinPpt {
	background-position: 0px -118px;
}
.lnkBinRtf {
	background-position: 0px -133px;
}
.lnkBinSwf {
	background-position: 0px -148px;
}
.lnkBinXls {
	background-position: 0px -163px;
}
.lnkBinZip {
	background-position: 0px -178px;
}

/* === ConceptTree ========================================================== */
.treeRoot>.nodeRoot>.nodeLblFra{
	border-left:0px;
}
.treeRoot>.nodeRoot>.nodeLblFra>.nodeLbl{
	border-width: 2px;
}
.treeRoot>.nodeChildren_hide>.nodeLblFra>.nodeLbl{
	border-bottom-width: 5px;
}
.treeRoot>.nodeRoot>.nodeLblFra>.nodeLbl div.nodeTi{
	font-size: 1.1em;
}
.nodeChild{
	padding-left:10px;
}
.nodeChild_pre{
	border-left:2px solid silver;
}
.nodeLbl,.nodeRef{
	border:1px solid #676767;
	padding:5px 8px;
	display:inline-block;
	margin-top:5px;
	box-shadow: inset 0px 0px 5px #888;
	background-color:white;
	max-width:300px;
}
.nodeChildren_hide>div>.nodeLbl{
	background-position: bottom left;
	background-repeat: repeat-x;
	background-image: url(../img/tree/nodeChiHideBk.png);

}
.nodeLblCo{
	padding-left:20px;
	background-position: center left;
	background-repeat: no-repeat;
}
.nodeRef{
	border-color: silver;
	box-shadow: inset 0px 0px 5px #AAA;
}
.nodeDesc{
	font-size: 0.8em;
	color: #676767;
}
.nodeChildren{
	padding-left:5px;
}
div.nodeChildren_hide>div.nodeChildren{
	opacity:0;
	height:0px !important;
	transition-property : opacity,display;
	transition-duration : 0.1s;
}
div.nodeChildren_show>.nodeChildren{
	opacity:1;
	height:auto;
	transition-property : opacity,display;
	transition-duration : 1.5s;
}
.nodeLead{
	display:inline-block;
	height:18px;
	border-left:2px solid silver;
	border-bottom:2px solid silver;
	vertical-align: top;
}
.nodeLeadSpacer{
	display:inline-block;
	width:12px;
	height:18px;
}
.nodeRoot{
	display:inline-block;
}
.nodeLblFra,.nodeRefFra{
	display:inline-block;
}
.nodeChildren_1 .nodeLbl{
	min-width: 60px;
}
.nodeChildren_2 .nodeLbl{
	min-width: 120px;
}
.nodeChildren_3 .nodeLbl{
	min-width: 180px;
}
.nodeChildren_4 .nodeLbl{
	min-width: 240px;
}
.nodeChildren_5 .nodeLbl{
	min-width: 300px;
}
.nodeChildren_6 .nodeLbl{
	min-width: 360px;
}
.nodeChildren_7 .nodeLbl{
	min-width: 420px;
}
.nodeChildren_8 .nodeLbl{
	min-width: 480px;
}
.nodeChildren_9 .nodeLbl{
	min-width: 540px;
}
.nodeChild_co:target>div>div>.nodeLbl{
	box-shadow: 0px 0px 5px #444;
}
.nodeIco{
	float:left;
	margin-right:3px;
}
div.nodeTi{
	line-height:16px;
	font-weight: bold;
	word-wrap: break-word;
}
span.nodeTi,
a.nodeTi{
	color:#464646;
}
.nodeChildren span.nodeTi,
.nodeChildren a.nodeTi{
	color:#525252;
}
.nodeChildren .nodeChildren span.nodeTi,
.nodeChildren .nodeChildren a.nodeTi{
	color:#5E5E5E;
}
.nodeChildren .nodeChildren .nodeChildren span.nodeTi,
.nodeChildren .nodeChildren .nodeChildren a.nodeTi{
	color:#6B6B6B;
}
.nodeChildren .nodeChildren .nodeChildren .nodeChildren span.nodeTi,
.nodeChildren .nodeChildren .nodeChildren .nodeChildren a.nodeTi{
	color:#787878;
}
.nodeChildren .nodeChildren .nodeChildren .nodeChildren .nodeChildren span.nodeTi,
.nodeChildren .nodeChildren .nodeChildren .nodeChildren .nodeChildren a.nodeTi{
	color:#858585;
}
.nodeChildren .nodeChildren .nodeChildren .nodeChildren .nodeChildren .nodeChildren span.nodeTi,
.nodeChildren .nodeChildren .nodeChildren .nodeChildren .nodeChildren .nodeChildren a.nodeTi{
	color:#919191;
}
.nodeChildren .nodeChildren .nodeChildren .nodeChildren .nodeChildren .nodeChildren .nodeChildren span.nodeTi,
.nodeChildren .nodeChildren .nodeChildren .nodeChildren .nodeChildren .nodeChildren .nodeChildren a.nodeTi{
	color:#9E9E9E;
}
.nodeChildren .nodeChildren .nodeChildren .nodeChildren .nodeChildren .nodeChildren .nodeChildren .nodeChildren span.nodeTi,
.nodeChildren .nodeChildren .nodeChildren .nodeChildren .nodeChildren .nodeChildren .nodeChildren .nodeChildren a.nodeTi{
	color:#ABABAB;
}
div.nodeChildren_hide>div.nodeChildren > .nodeChild{
	display:none;
}
a.nodeMoreDesc_a{
	display:inline-block;
	background-repeat: no-repeat;
	background-image: url(..//img/co/search.gif);
	width:16px;
	height:16px;
	vertical-align: bottom;
	margin-left:5px;
	border:0px;
}
a.nodeMoreDesc_a:hover{
	background-image: url(..//img/co/searchOver.gif);
	border:0px;
}
.nodeMoreDesc_a span{
	display:none;
}

/* Node types */
.nodeType_normal .nodeLblCo{
	padding-left:0px;
}
.nodeType_back .nodeLblCo{
	background-image: url(../img/tree/back.png);
}
.nodeType_date .nodeLblCo{
	background-image: url(../img/tree/date.png);
}
.nodeType_down .nodeLblCo{
	background-image: url(../img/tree/down.png);
}
.nodeType_flag .nodeLblCo{
	background-image: url(../img/tree/flag.png);
}
.nodeType_forbn .nodeLblCo{
	background-image: url(../img/tree/forbn.png);
}
.nodeType_forward .nodeLblCo{
	background-image: url(../img/tree/forward.png);
}
.nodeType_home .nodeLblCo{
	background-image: url(../img/tree/home.png);
}
.nodeType_idea .nodeLblCo{
	background-image: url(../img/tree/idea.png);
}
.nodeType_imp .nodeLblCo{
	background-image: url(../img/tree/imp.png);
}
.nodeType_imp{
	border: 1px solid #a52a2a;
	box-shadow: inset 0px 0px 5px #da6767;
}
.nodeChildren_hide>div>.nodeType_imp{
	background-image: url(../img/tree/nodeChiHideBkImp.png);
}
.nodeType_info .nodeLblCo{
	background-image: url(../img/tree/info.png);
}
.nodeType_key .nodeLblCo{
	background-image: url(../img/tree/key.png);
}
.nodeType_nok .nodeLblCo{
	background-image: url(../img/tree/nok.png);
}
.nodeType_ok .nodeLblCo{
	background-image: url(../img/tree/ok.png);
}
.nodeType_pers-female .nodeLblCo{
	background-image: url(../img/tree/pers-female.png);
}
.nodeType_pers-group .nodeLblCo{
	background-image: url(../img/tree/pers-group.png);
}
.nodeType_pers-male .nodeLblCo{
	background-image: url(../img/tree/pers-male.png);
}
.nodeType_quest .nodeLblCo{
	background-image: url(../img/tree/quest.png);
}
.nodeType_sm-happy .nodeLblCo{
	background-image: url(../img/tree/sm-happy.png);
}
.nodeType_sm-sad .nodeLblCo{
	background-image: url(../img/tree/sm-sad.png);
}
.nodeType_star .nodeLblCo{
	background-image: url(../img/tree/star.png);
}
.nodeType_stop .nodeLblCo{
	background-image: url(../img/tree/stop.png);
}
.nodeType_up .nodeLblCo{
	background-image: url(../img/tree/up.png);
}
.nodeType_wait .nodeLblCo{
	background-image: url(../img/tree/wait.png);
}
.nodeType_0 .nodeLblCo{
	background-image: url(../img/tree/0.png);
}
.nodeType_1 .nodeLblCo{
	background-image: url(../img/tree/1.png);
}
.nodeType_2 .nodeLblCo{
	background-image: url(../img/tree/2.png);
}
.nodeType_3 .nodeLblCo{
	background-image: url(../img/tree/3.png);
}
.nodeType_4 .nodeLblCo{
	background-image: url(../img/tree/4.png);
}
.nodeType_5 .nodeLblCo{
	background-image: url(../img/tree/5.png);
}
.nodeType_6 .nodeLblCo{
	background-image: url(../img/tree/6.png);
}
.nodeType_7 .nodeLblCo{
	background-image: url(../img/tree/7.png);
}
.nodeType_8 .nodeLblCo{
	background-image: url(../img/tree/8.png);
}
.nodeType_9 .nodeLblCo{
	background-image: url(../img/tree/9.png);
}
.nodeType_add .nodeLblCo{
	background-image: url(../img/tree/add.png);
}
.nodeType_delete .nodeLblCo{
	background-image: url(../img/tree/delete.png);
}
.nodeType_tfc-go .nodeLblCo{
	background-image: url(../img/tree/tfc-go.png);
}
.nodeType_tfc-stop .nodeLblCo{
	background-image: url(../img/tree/tfc-stop.png);
}
.nodeType_attach .nodeLblCo{
	background-image: url(../img/tree/attach.png);
}
.nodeType_cog .nodeLblCo{
	background-image: url(../img/tree/cog.png);
}
.nodeType_tag-blue .nodeLblCo{
	background-image: url(../img/tree/tag-blue.png);
}
.nodeType_tag-green .nodeLblCo{
	background-image: url(../img/tree/tag-green.png);
}
.nodeType_tag-orange .nodeLblCo{
	background-image: url(../img/tree/tag-orange.png);
}
.nodeType_tag-pink .nodeLblCo{
	background-image: url(../img/tree/tag-pink.png);
}
.nodeType_tag-red .nodeLblCo{
	background-image: url(../img/tree/tag-red.png);
}
.nodeType_tag-yellow .nodeLblCo{
	background-image: url(../img/tree/tag-yellow.png);
}
.nodeType_pencil .nodeLblCo{
	background-image: url(../img/tree/pencil.png);
}
.nodeType_puzzle .nodeLblCo{
	background-image: url(../img/tree/puzzle.png);
}
.nodeType_wand .nodeLblCo{
	background-image: url(../img/tree/wand.png);
}
.nodeType_zoom .nodeLblCo{
	background-image: url(../img/tree/zoom.png);
}

.treeSearch_mach > .nodeLblFra > .nodeLbl{
	border: 1px solid purple;
	box-shadow: inset 0px 0px 5px purple;
}
.treeSearch_mach > .nodeLblFra > .nodeLbl .nodeTi{
	color: purple;
}
.treeSearch_cur > .nodeLblFra > .nodeLbl{
	-webkit-animation:glow 0.5s ease-in-out 0s 1 alternate;
	animation:glow 0.5s ease-in-out 0s 1 alternate;
	background-color:#F8E1EA;
}
@-webkit-keyframes glow {
	0% {-webkit-transform: scale(1);}
	50% {-webkit-transform: scale(1.03);}
	100% {-webkit-transform: scale(1);}
}
@keyframes glow {
	0% {transform: scale(1);}
	50% {transform: scale(1.03);}
	100% {transform: scale(1);}
}

/* CONCEPT TREE */
div.treeRoot.treeHasToolbar{
	border: 1px solid silver;
}
div.treeRoot.treeHasToolbar .nodeDepth_0{
	margin: 3px;
}
div.treeRoot.treeHasToolbar.treeSearch_off .treeScroll{
	overflow:hidden;
}
div.treeRoot.treeHasToolbar .treeScroll{
}
div.treeRoot.treeHasToolbar.treeSearch_on .treeScroll{
	max-height:600px;
	overflow:auto;
}
div.treeToolbar{
	background-color:#EFEFEF;
	border-bottom:1px solid silver;
	padding:0;
	height:20px;
	text-align:right;
	font-size:9pt;
}
div.treeStatusbar{
	background-color:#EFEFEF;
	border-top:1px solid silver;
	padding:0;
	text-align:left;
	padding:3px;
	z-index:2;
	font-size:9pt;
	position:relative;
	display:none;
	color: #676767;
}
div.treeRoot.treeSearch_on .treeStatusbar{
	display:block;
}

div.treeToolbar form.treeSearchForm{
	display:inline-block;
	position: absolute;
	left: 3px;
	top:2px;
}
div.treeToolbar span.treeSearchLabel{
	display:inline-block;
	margin-right: 5px;
	color:#676767;
}
div.treeToolbar span.treeSearchResultLabel{
	display:inline-block;
	margin-left: 5px;
	color:#676767;
}
div.treeToolbar input.treeSearchInput{
	border: 1px solid silver;
	margin:0;
	padding:0;
}
div.treeSearch_off div.treeToolbar form.treeSearchForm{
	display:none;
}

div.treeToolbar a.treeBtnSearch{
	display:inline-block;
	width: 20px;
	height: 20px;
	background: url(../img/tree/search.png) center center no-repeat;
	margin-right:3px;
}
div.treeSearch_on div.treeToolbar a.treeBtnSearch{
	background-color: #676767;
}
div.treeToolbar a.treeBtnOpenAll{
	display:inline-block;
	width: 20px;
	height: 20px;
	background: url(../img/tree/open.png) center center no-repeat;
	margin-right:3px;
}
div.treeToolbar a.treeBtnCloseAll{
	display:inline-block;
	width: 20px;
	height: 20px;
	background: url(../img/tree/close.png) center center no-repeat;
	margin-right:3px;
}
div.treeToolbar a.treeBtnPrv{
	display:inline-block;
	width: 20px;
	height: 14px;
	background: url(../img/tree/prv.png) center center no-repeat;
	margin-left:3px;
	vertical-align:middle;
}
div.treeToolbar a.treeBtnNxt{
	display:inline-block;
	width: 20px;
	height: 14px;
	background: url(../img/tree/nxt.png) center center no-repeat;
	margin-left:3px;
	vertical-align:middle;
}
div.treeToolbar a.treeBtnSearch:hover,
div.treeToolbar a.treeBtnPrv:hover,
div.treeToolbar a.treeBtnNxt:hover,
div.treeToolbar a.treeBtnOpenAll:hover,
div.treeToolbar a.treeBtnCloseAll:hover{
	opacity:0.5;
}
div.treeToolbar span.treeSep,
div.treeToolbar a.treeBtnSearch span,
div.treeToolbar a.treeBtnPrv span,
div.treeToolbar a.treeBtnNxt span,
div.treeToolbar a.treeBtnOpenAll span,
div.treeToolbar a.treeBtnCloseAll span{
	display:none;
}
div.treeSearch_noact	a.treeBtnNxt,
div.treeSearch_noact	a.treeBtnPrv{
	display:none;
}

/* TOOLTIPS */
.tt_a{
	cursor: pointer;
	color:#0d405d;
}
.tt_fra {
	background-color:white;
	color: black;
	box-shadow: 0 0 1px;
}
.tt{
	font-size: 75%;
}
.tt_ti{
	font-weight: bold;
	text-align: center;
	padding: 2px 15px 2px 2px;
	color:#0d405d;
}
.tt_x{
	display: block;
	width:14px;
	height:14px;
	position: absolute;
	top: 0;
	right: 0;
	background: url("../../skin/img/co/ttCls.png") top left no-repeat;
}
.tt_x span{
	display: none;
}
div.tt_co{
	padding: 5px;
}
div.tt_co p{
	text-align: left;
}
a.ttEvt_a{
	color: #0d405d;
	border-bottom: 0px;
}
a.ttEvt_a:hover{
	border-bottom: 0px;
	text-decoration: underline;
}
a.ttEvt_act{
	color:#F17C0B;
}
div.ttEvt_ti{
	display: none;
}
div.ttEvt_co{
	padding: 0 18px 0 0;
	background-color:#0d405d;
}
div.ttExtCo {
	padding: 5px 5px 5px 5px;
	background-color: white;
}
ol.footNotes{
	margin: 10px;
	font-size: 80%;
	padding-top: 5px;

	padding-left: 20px;
}
li.footNotes_it{
	margin-bottom: 10px;
	padding: 2px;
}
ol.footNotes p{
	margin: 0 0 5px 0;
}
div.footNotes_itti{
	font-weight: bold;
}
ol.footNotes .tt_x{
	display: none;
}

/* GALLERY */
.galFra, .galMIniFra{
	text-align:center
}

.scImgSep{
	display: none;
}
span.galPv{
	border-right: 1px solid #676767;
	border-bottom: 1px solid #676767;
	border-top: 1px solid silver;
	border-left: 1px solid silver;
	margin: 2px;
	background-color: white;
	float:none;
	display:inline-block;
	behavior: url(../styles/build/PIE.htc);
}
a.galPvLnk:hover {
	opacity:0.8;
}
img.imgPv{
	border-top: 1px solid #676767;
	border-left: 1px solid #676767;
	border-right: 1px solid silver;
	border-bottom: 1px solid silver;
}
div.scImgGalOver,
div.scImgZmOver{
	background-color: black;
}
div.scImgGalFra{
	background-color: white;
	behavior: url(../styles/build/PIE.htc);
}
div.scImgGalTi{
	font-style: italic;
	color: #676767;
	cursor: default;
	font-size:12px;
}
div.scImgGalTbr span.scImgGalCount{
	font-style: italic;
	color: #676767;
	cursor: default;
}
div.scImgGalTbr span{
	display: none;
	position: absolute;
}
div.scImgGalTbr a{
	display: block;
	width:15px;
	height:15px;
	background-repeat: no-repeat;
	background-image:url("../img/scImg/btns.gif");
	position: absolute;
	bottom:3px;
}
a.scImgGalBtnCls{
	background-position: 0px 0px;
	right:5px;
}
a.scImgGalBtnCls:hover{
	background-position: 0px -15px;
}
a.scImgGalBtnNoNxt{
	background-position: 0px -30px;
	right:330px;
	cursor: default;
}
a.scImgGalBtnNoPrv{
	background-position: 0px -45px;
	left:330px;
	cursor: default;
}
a.scImgGalBtnNxt{
	background-position: 0px -60px;
	right:330px;
}
a.scImgGalBtnNxt:hover{
	background-position: 0px -75px;
}
a.scImgGalBtnPly{
	background-position: 0px -90px;
	left:352px;
}
a.scImgGalBtnPly:hover{
	background-position: 0px -105px;
}
a.scImgGalBtnPrv{
	background-position: 0px -120px;
	left:330px;
}
a.scImgGalBtnPrv:hover{
	background-position: 0px -135px;
}
a.scImgGalBtnPse{
	background-position: 0px -150px;
	left:352px;
}
a.scImgGalBtnPse:hover{
	background-position: 0px -165px;
}

/* EVENT */
.margin .evtList{
	padding-right: 1px;
}
.evtListEvt{
	list-style-image: url("../../skin/img/co/evt.png");
}
.evtListDesc{
	list-style-type:square;
}
.event_closed{
	background: url("../../skin/img/co/clbCls.svg") center left /12px no-repeat;
	color: #333;
}
.event_open{
	background: url("../../skin/img/co/clbOpn.svg") center left /12px no-repeat;
	color: #333;
}
.event_closed:hover,
.event_open:hover{
	text-decoration: none;
}
.event {
	margin-bottom: 5px;
}
.event_ti {
	padding-left: 15px;
	font-size: 1.05em;
}
.margin_co .event_ti {
	padding-left: 0;
}
.event_co {
	margin-bottom: 10px;
	background-color: #f8F8F8;
	padding: 5px 10px 5px 10px;
}
.event_co	li {
	list-style-image: none;
}
.txt_emphasis_is,
.txt_quote_ph,
.txt_special_ph{
	color:#444;
}
.lnkZoom {
	background: url("../../skin/img/co/lnkZoom.png") center no-repeat;
	display:inline-block;
	width: 12px;
	height: 12px;
	margin-left: 3px;
}
.lnkZoom:hover {
	background-image: url("../../skin/img/co/lnkZoomOvr.png");
}
.lnkZoom span{
	display: none;
}

/* VOIR + OU - */
#content .bkBase_closed{
	background: url("../../skin/img/co/clbCls.svg") no-repeat scroll center bottom rgba(0, 0, 0, 0);
		color: #000000;
		height: 85px;
	text-decoration: none;
	display:block;
}
#content .bkBase_open{
	background: url("../../skin/img/co/clbOpn.svg") no-repeat center bottom rgba(0, 0, 0, 0);
	color: #000000;
		height: 85px;
	position: relative;
	text-decoration:none;
	display:block;
}
#content .bkBase_co.collBlk_open {
		border: 2px solid;
		margin-top: -33px;
		padding: 30px 15px 15px;
}

/* OPTIONS */
.optContent {
    background-color: #fff;
    padding: 30px 15px;
}

/* SEARCH */
.searchFra {
		padding: 2px 10px 3px;
}
input.searchText,
input.schInput{
	border: 2px solid #427727;
	box-shadow: inset 0px 0px 3px #BBB;
	font-size: 0.9em;
	width:95px;
	height:20px;
	padding-left:5px;
}
.schLabel {
	position: absolute;
	left: -9999px;
}
input.searchSubmit, input.schBtnLaunch {
		background: transparent url("../img/co/search.png") no-repeat scroll right center;
		border: medium none;
		color: transparent;
		cursor: pointer;
		display: inline-block;
		height: 26px;
		width: 27px;
}
input.searchSubmit:hover,
input.schBtnLaunch:hover{
	background-image:url("../img/co/searchOver.png");
}
input.searchSubmit span,
input.schBtnLaunch span{
	display: none;
}
.schPgeBk .schPgeBtn,
.mnu_sch_yes .mnu_lnk{
	background-image: url(../img/co/schPgeRank.png);
	background-repeat: no-repeat;
	background-position: right;
}

div.schNoRes{
	text-align: center;
	font-size: 1.063em;
	margin-top: 18px;
}

.mnu_sch,
.schPgeBtn>span{
	display:block;
	background-color:#f0eeeb;
}
.schPgeRank_1 .mnu_sch,
.schPgeRank_1 .schPgeBtn>span{
	margin-right:17px;
}
.schPgeRank_2 .mnu_sch,
.schPgeRank_2 .schPgeBtn>span{
	margin-right:35px;
}
.schPgeRank_3 .mnu_sch,
.schPgeRank_3 .schPgeBtn>span{
	margin-right:53px;
}
.schPgeRank_4 .mnu_sch,
.schPgeRank_4 .schPgeBtn>span{
	margin-right:71px;
}
.schPgeRank_5 .mnu_sch,
.schPgeRank_5 .schPgeBtn>span{
	margin-right:89px;
}
.schPgeRank_6 .mnu_sch,
.schPgeRank_6 .schPgeBtn>span{
	margin-right:107px;
}
.schPgeRank_7 .mnu_sch,
.schPgeRank_7 .schPgeBtn>span{
	margin-right:125px;
}
.schPgeRank_8 .mnu_sch,
.schPgeRank_8 .schPgeBtn>span{
	margin-right:143px;
}
.schPgeRank_9 .mnu_sch,
.schPgeRank_9 .schPgeBtn>span{
	margin-right:160px;
}
div.schPropose a:hover{
		text-decoration:none;
}
.schPropose{
	position:absolute;
	width: 102px;
	border:1px solid #427727;
	border-top:0px;
	background-color: white;
	z-index:100;
	font-size:0.9em;
}
.schBtnPropose{
	display:block;
	text-decoration:none;
	font-style: italic;
	padding:2px 3px;
	margin:1px;
}
.schBtnPropose:hover ,
.schBtnPropose:active ,
.schBtnPropose:focus {
	outline:none;
	text-decoration:none;
	background-color: #E0dcd8;
}
.schProposeExceeded{
	display:block;
	color:#c5c02e;
	font-style: italic;
	padding:2px 3px;
}
div.schProp_no{
		display:none;
}
.schCmds_act input.schInput{
	border: 2px solid #427727;
}
.schResFrame {
	position: fixed;
	left:50%;
	bottom:-80px;
		width:700px;
		margin-left:-350px;
	color: #427727;
	background-color: #f0eeeb;
	border-right: 1px solid #427727;
	border-top: 1px solid #427727;
	border-left: 1px solid #427727;
	height: 50px;
	transition: all 0.4s ease-out;
	z-index: 91;
}
.schDisplay_on .schResFrame {
	bottom: 0px;
}
.schDisplayList_on .schResFrame{
	height: 530px;
}
.schResList {
	position: absolute;
	bottom: 5px;
	left: 5px;
	top: 5px;
	right: 5px;
	display: none;
}
.schDisplayList_on .schResList {
	display: block;
}
.schResListSrl {
	position: absolute;
	left: 0px;
	right: 0px;
	overflow: auto;
	padding: 5px;
}
.searchResults a{
		margin: 0 5px;
}
.schBtnTgle {
	background-image: url(../img/co/schBtn.png);
	background-position: 0px -20px;
	background-repeat: no-repeat;
	width: 19px;
	height: 19px;
	display: block;
	position: absolute;
	bottom: 3px;
	left: 6px;
}
.schDisplayList_on .schBtnTgle{
	background-position: 0px 0px;
}
.schBtnTgle span{
	display:none;
}
.schBtnReset {
	background-image: url(../img/co/schBtn.png);
	background-position: 0px -70px;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	display: block;
	position: absolute;
	top: -14px;
	right: -15px;
}
.schBtnReset:hover{
		opacity:0.8;
}
.schBtnReset span{
		display:none;
}
.schHitBox,
.schResBox,
.schPageBox {
		text-align: left;
		margin: 4px 0px 0 40px;
		font-size: 0.875em;
	line-height:16px;
}
.schHitBox {
	background-image: url(../img/co/schBack.png);
	background-position: right 0px;
	background-repeat: no-repeat;
	position: absolute;
	bottom: 27px;
	left: 0;
	right: 0;
}
.schPageBox {
	background-image: url(../img/co/schBack.png);
	background-position: right -35px;
	background-repeat: no-repeat;
	position: absolute;
	bottom: 6px;
	left: 0;
	right: 0;
}
.schDisplay_none .schResBox{
		text-align: center;
		margin: 20px 200px 6px 200px;
}
.schDisplay_none .schHitBox{
		display:none;
}
.schBtnNxt,
.schBtnPrv,
.schBtnPrvHit,
.schBtnNxtHit{
	display:block;
	position:absolute;
	width:15px;
	height:15px;
	background-repeat: no-repeat;
	vertical-align: middle;
	background-image: url(../img/co/schBtn.png);
	background-repeat: no-repeat;
}
.schBtnAct_no,
.schBtnHitAct_no{
		display:none;
}
.schBtnNxt span,
.schBtnPrv span,
.schBtnPrvHit span,
.schBtnNxtHit span{
		display:none;
}
.schDisplay_none .schBtnNxt,
.schDisplay_none .schBtnPrv,
.schDisplay_none .schBtnPrvHit,
.schDisplay_none .schBtnNxtHit{
		display:none;
}
.schDisplay_one .schBtnNxt,
.schDisplay_one .schBtnPrv{
		display:none;
}
.schBtnNxt{
	background-position: 0px -40px;
}
.schBtnPrv{
	background-position: 0px -55px;
}
.schBtnNxtHit{
	background-position: 0px -40px;
}
.schBtnPrvHit{
	background-position: 0px -55px;
}
.schHitFrame{
	background: url(../img/co/schHit.png) center right no-repeat;
	position:absolute;
	bottom:8px;
	right:40px;
	left:40px;
	height:20px;
	font-size:1.2em;
}
.schBtnPrvHit{
	top:3px;
	right:57px;
}
.schBtnNxtHit{
	top:3px;
	right:5px;
}
.schBtnPrv{
	right:57px;
	top:0;
}
.schBtnNxt{
	right:5px;
	top:0;
}
.schPgeBk .schPgeBtn span{
	background-position: center right;
	background-repeat:no-repeat;
	display:block;
	padding-right:165px;
}
.schPgeBk .mnu_lnk span{
	background-position: center right;
	background-repeat:no-repeat;
	display:block;
}
.schPgeBk span.schPgeRank{
	display:none;
}
.searchResults a.schPgeBtn,
.searchResults a.mnu_lnk {
	margin: 2px;
	display: block;
	color: #427727;
}
li.mnu_sel_yes .schPgeBtn,
div.mnu_sel_yes .mnu_lnk{
	font-weight: bold;
	text-decoration: underline;
	cursor: default;
}
div.mnu_sch_no a.mnu_lnk{
	color:#427727;
	cursor:default;
}
div.mnu_sch_no a.mnu_lnk:hover{
	text-decoration:none;
}
.searchResults a.mnu_tgle_o,.searchResults a.mnu_tgle_c{
	position: absolute;
	margin-top: -14px;
	margin-left: -16px;
	width: 7px;
	height: 7px;
	display:inline-block;
	background-image: url(../img/co/mnuTgle.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;
}
.searchResults a.mnu_tgle_o span,.searchResults a.mnu_tgle_c span{
	display:none;
}
.searchResults div.mnu_sch_yes a.mnu_tgle_c{
	background-position: 0px -7px;
}
.searchResults div.mnu_sch_yes a.mnu_tgle_o{
	background-position: 0px -21px;
}
.searchResults div.mnu_sch_no a.mnu_tgle_c{
	background-position: 0px 0px;
}
.searchResults div.mnu_sch_no a.mnu_tgle_o{
	background-position: 0px -14px;
}
.schResListSrl ul.mnu_root {
	padding: 0 0 0 20px;
}
.schResListSrl li.mnu_b {
	list-style-type:none;
	margin:0;
}
.schResListSrl ul {
	color:#427727;
	margin:0;
	list-style: disc;
	padding-left: 13px;
	list-style-position: outside;
}
.schResListSrl ul.schParentList{
	list-style-type: none;
}
.schResListSrl ul.schParentList_c{
	display:none;
}
.schResListSrl ul.schParentList_o{
	display:block;
}
li.schPgeBk{
	position:relative;
}
a.schParent_tgle_c,
a.schParent_tgle_o {
	position: absolute;
	margin-left: -16px;
	top: 2px;
	width: 7px;
	height: 7px;
	display:inline-block;
	background-image: url(../img/co/mnuTgle.png);
	background-repeat: no-repeat;
}
a.schParent_tgle_c span,
a.schParent_tgle_o span {
	display:none;
}
a.schParent_tgle_c{
	background-position: 0px -7px;
}
a.schParent_tgle_o{
	background-position: 0px -21px;
}
.schParent_tgle_c:hover,
.schParent_tgle_o:hover {
	text-decoration:none;
	color: #427727;
}
.schPgeBtn:hover,
.mnu_lnk:hover {
	color: #c5c02e;
}
.schResCnt,
.schHitCnt{
		display:inline-block;
		min-width:40px;
		text-align: center;
}
.schDisplay_none .schResCnt,
.schDisplay_one .schResCnt{
		display:none;
}
.schHit {
	background-color: #f0eeeb;
	border-radius: 3px;
}
.schHit_current {
	background-color: #e0dcd8;
	color:white;
	border-radius: 3px;
}
.schTerm{
		font-weight: bold;
}
.schTerm em{
		font-weight: normal;
}
.schDisplay_on #menu ul.mnu_root .mnu_sch_no > a:hover{
		text-decoration:none;
}
.schDisplay_on #menu ul.mnu_root .mnu_sch_no > a.mnu_lnk {
		color: #427727;
		cursor: default;
}
.tplSchBox{
		/* Fixed IE7 */
		position:relative;
		z-index: 2;
}

/* === START - PLAYER MEDIAS ================================================ */
.icon-ld:before,
.icon-md:before,
.icon-hd:before {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 120%;
}
.icon-ld:before { content: 'LD'; margin-right: 0.4em; }
.icon-md:before { content: 'MD'; margin-right: 0.6em; }
.icon-hd:before { content: 'HD'; margin-right: 0.4em; }


[class^="icon-"], [class*=" icon-"]{
	background:transparent url("../img/player/icons.svg") no-repeat 0 0;
	display: inline-block;
	height: 18px;
	width: 18px;
	vertical-align: middle;
	margin: 0 5px;
}

.player_bk button:not([disabled]):hover .icon-play { background-position:0 0; }
.icon-play { background-position:0 -20px; }

.player_bk button:not([disabled]):hover .icon-pause { background-position:0 -40px; }
.icon-pause { background-position:0 -60px; }

.player_bk button:not([disabled]):hover .icon-muted{ background-position:0 -80px; }
.icon-muted { background-position:0 -100px; width:21px; }

.player_bk button:not([disabled]):hover .icon-mute{ background-position:0 -120px; }
.icon-mute { background-position:0 -140px; width:21px; }

.player_bk button:not([disabled]):hover .icon-fullScreen{ background-position:0 -160px; }
.icon-fullScreen { background-position:0 -180px; }

/*.player_bk button:not([disabled]):hover .icon-small{ background-position:0 -200px; }
.icon-small { background-position:0 -220px; }*/

.player_bk button:not([disabled]):hover .icon-defaultvideo{ background-position:0 -240px; }
.icon-defaultvideo { background-position:0 -260px; }

/* .player_bk button:not([disabled]):hover .icon-loader{ background-position:0 -280px; } */
.icon-loader { background-position:0 -280px; }

.player_bk button:not([disabled]):hover .icon-altvideo{ background-position:0 -320px; }
.icon-altvideo { background-position:0 -340px; }

.player_bk button:not([disabled]):hover .icon-audiodesc{ background-position:0 -360px; }
.icon-audiodesc { background-position:0 -380px; width:30px;}

.player_bk button:not([disabled]):hover .icon-subtitles, .player_bk button.btnSubDisplay_on .icon-subtitles{ background-position:0 -400px; }
.icon-subtitles { background-position:0 -420px; width: 24px; }

.player_bk button:not([disabled]):hover .icon-transcript, .player_bk button.act_on .icon-transcript { background-position:0 -440px; }
.icon-transcript { background-position:0 -460px; }

.display_off {
	display: none;
}
.mediaPlayer{
	display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}
iframe.mediaPlayer {
	margin: auto;
}
.player_bk {
	border: 1px solid black;
	box-shadow: inset 0 1px 0px rgba(255,255,255,.2);
	background: #494949;
	background: linear-gradient(to bottom, #494949 0%, #434242 31%, #393838 55%, #242323 83%, #1b1a1a 100%, #161515 100%, #0b0b0b 100%); /* W3C */
	height: 30px;
	border-radius: 5px;
	box-shadow: 0px 0px 3px rgba(0,0,0,.3),inset 0 1px 0px rgba(255,255,255,.2);
	margin: auto;
	box-sizing: border-box;
	overflow: hidden;
    display: flex;
    align-items: center;
}
object.resAudio {
	visibility:hidden;
}
.player_bk button {
	border:none;
	padding: 0;
	margin: 0;
	cursor:pointer;
	vertical-align: middle;
	background:transparent;
}

.player_bk img {
	box-shadow:none;
}

.pause,
.play {
	border-right: 1px solid black;
}
.mute,
.muted,
.transcript,
.audiodesc,
.altvideo,
.defaultvideo {
	padding-right: 0;
}
.mute,
.muted{
	border-left: 1px solid black;
}
.player_bk .video_act_on{
	cursor:default;
	opacity: 0.2;
}
.volume_bk {
	width: 3.125em;
	height: 4px;
	cursor:pointer;
	border: 1px solid black;
	display: inline-block;
	border-radius: 20px;
	background-color: #242323;
	box-shadow: inset 0px 4px 4px rgba(0,0,0,.6);
	position: relative;
}
.volume_value {
	height: 4px;
	border-radius: 20px;
	background-color: #cc181e;
}
.seek_progress {
	width: 13.125em;
	margin-left: 4px;
	cursor:pointer;
	border: 1px solid black;
	display: inline-block;
	height: 8px;
	border-radius: 20px;
	background-color: #242323;
	box-shadow: inset 0px 4px 4px rgba(0,0,0,.6);
	position: relative;
}
.seek_value {
	width: 0;
	position: absolute;
	top: 0;
	height: 8px;
	border-radius: 20px;
	background-color: #cc181e;
}
.load_progress {
	width: 0;
	background-color: #fff;
	height: 8px;
	border-radius: 20px;
	opacity: 0.2;
}
input[type="range"]  {
	-webkit-appearance: none !important;
	width: 100%;
	background-color: transparent;
	border: none;
	margin: auto;
	transition: all 0.3s ease;
	cursor: pointer;
	position: absolute;
	left: 0;
	cursor: pointer;
	padding: 0;
}
input[type="range"]::-moz-range-track {
	opacity: 0;
}
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	position: relative;
	top: 0px;
	z-index: 1;
	width: 11px;
	height: 11px;
	cursor: pointer;
	border: none;
	background: none;
}
input[type="range"]::-moz-range-thumb {
	border: none;
	position: relative;
	top: 0px;
	z-index: 1;
	width: 10px;
	height: 10px;
	cursor: pointer;
}
input[type="range"]::-ms-thumb {
	background: none;
	border: none;
	position: relative;
	top: 0px;
	z-index: 1;
	width: 10px;
	height: 10px;
	cursor: pointer;
}
input[type="range"]::-ms-track {
	color: transparent;
	border: none;
	background: none;
}
input[type="range"]::-ms-fill-lower {
	background: none;
	border: none;
}
input[type="range"]::-ms-fill-upper {
	background: none;
	border: none;
}
input.seek_btn[type="range"] {
	top: -1px;
	height: 10px;
}
input.volume_btn[type="range"] {
	top: -3px;
	height: 10px;
}
.time_bk {
	display:inline-block;
	color: #E7E7E7;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 0.9em;
}
.transcript{
	width: 630px;
	margin: 5px auto 10px;
	padding: 5px;
	border: 1px solid;
	box-shadow: 1px 1px 2px;
	border-radius: 5px 0;
	text-align: left;
}
video {
	box-shadow: 1px 1px 4px;
	display: block;
	margin: 5px auto;
	background: black;
}
ul.btnsLangList .capt,
ul.qualityList .capt{
	display: block;
}
.subBox {
	position: absolute;
	width: 500px;
	left: 50%;
	margin-left: -250px;
	bottom: 40px;
	z-index: 1;
}
.subBox_co{
	background: #000;
	box-shadow: 1px 1px 3px #000;
	color: #fff;
	font-size: 1.1em;
}
.subDisplay_off{
	opacity: 0;
	transition: opacity .25s ease-in-out;
}
.subDisplay_on{
	opacity: 1;
	transition: opacity .25s ease-in-out;
}
.subBox.subDisplay_on{
	opacity: 0.7;
}
ul.btnsLangList,
ul.qualityList {
	position: absolute;
	width: 150px;
	text-align: left;
	list-style: none;
	margin: 0;
	padding: 4px;
	border: 1px solid black;
	box-shadow: inset 0 1px 0px rgba(255,255,255,.2);
	background: linear-gradient(to bottom, #494949 0%, #434242 31%, #393838 55%, #242323 83%, #1b1a1a 100%, #161515 100%, #0b0b0b 100%); /* W3C */
	border-radius: 5px;
	box-shadow: 0px 0px 3px rgba(0,0,0,.3),inset 0 1px 0px rgba(255,255,255,.2);
    margin-left: -25px;
	bottom: 32px;
	z-index: 2;
}
ul.btnsLangList a,
ul.qualityList a{
	color: #E7E7E7;
	background: transparent;
	display: block;
	padding: 2px 5px;
	border: none;
	cursor:pointer;
	text-decoration: none;
}
ul.btnsLangList.subDisplay_off,
ul.qualityList.subDisplay_off{
	visibility: hidden;
}
ul.btnsLangList a:hover,
ul.btnsLangList a.subSelect_on,
ul.qualityList a:hover,
ul.qualityList a.subSelect_on{
	transition: all .25s ease-in-out;
	color: #333;
	background: rgba(231, 231, 231, 0.87);
}

.altVids_bk {
	display:inline-block;
}
/*Fullscreen Mode*/
.fullscreen_on {
	position: static;
}
.fullscreen_on video,
.fullscreen_on object {
	max-width: none;
	z-index: 3;
	position: fixed;
	top: 50%;
	left: 50%;
	box-shadow: none;
}
.fullscreen_on .video_bk {
	position: fixed;
	left: 50%;
	z-index: 3;
	bottom: 20px;
}
.fullscreen_on .is_6_toolsBtn {
	margin-left: -275px;
}
.fullscreen_on .is_5_toolsBtn {
	margin-left: -262.5px;
}
.fullscreen_on .fullscreen_on .is_4_toolsBtn {
	margin-left: -247.5px;
}
.fullscreen_on .is_3_toolsBtn {
	margin-left: -235px;
}
.fullscreen_on .is_2_toolsBtn {
	margin-left: -222.5px;
}
.fullscreen_on .is_1_toolsBtn {
	margin-left: -210px;
}
.fullscreen_on .is_0_toolsBtn {
	margin-left: -197.5px;
}
.fullscreen_on .fullScreen_btn {
	background-position: -1039px 1px;
}
.fullscreen_on .fullScreen_btn:hover {
	background-position: -1079px 1px;
}
.fullscreen_on .subBox {
	z-index: 3;
	bottom: 55px;
}
.fullscreen_bg {
	background: #000000;
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.loader_bk span {
	display: none;
}
.icon-loader {
  animation: spin 2s infinite linear;
  display: inline-block;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@media (max-width: 650px){
	.seek_progress {
		width: 5.125em;
	}
	.volume_bk {
		display: none;
	}
}
@media (max-width: 450px){
	.sepTime_bk, .totalTime_bk, .volume_bk, .seek_progress {
		display: none;
	}
}

/* === STOP - PLAYER MEDIAS ================================================= */

/* === START - RESPONSIVE =================================================== */

@media (max-width: 1050px){
	#content .txt_p, #content .txt_il, #content .txt_ol,
	#content .bkBase_ti > span, #content .bkBase_ti > a, #content table,
	#content .evtList, .bkBase_co.collBlk_open, .treeRoot.treeHasToolbar {
		padding-left:10px;
		padding-right:10px;
	}
}
@media (max-width: 1000px){
	li.outCat_l, li.outCat_b, li.outBkBtn {
		padding: 4px;
		margin-left: 4px !important;
		margin-right: 4px !important;
	}
}
@media (max-width: 900px){
	li.outCat_l, li.outCat_b, li.outBkBtn {
		padding: 2px;
		margin-left: 2px !important;
		margin-right: 2px !important;
	}
	li.outCat_l, li.outCat_b, li.outBkBtn {
		font-size: 1.0em;
	}
	#header .tplTitle {
		font-size: 2.0em;
		text-indent: 1.5em;
	}
}
@media (max-width: 700px){
	li.outCat_l, li.outCat_b, li.outBkBtn {
		padding: 0px;
		margin-left: 1px !important;
		margin-right: 1px !important;
	}
	#header .tplTitle {
		font-size: 1.5em;
		text-indent: 1em;
	}
	#illus img{
		display: block;
		position: relative;
		width: 700px;
		left: 50%;
		margin-left: -350px;
	}

}
/* === STOP - RESPONSIVE ==================================================== */
