/* Colors : 
dark #666666 : #434e52
light teal : #e0ecec
*/

/* FONT */
@font-face {
	font-family: 'fontello';
	src: url('../font/fontello.eot');
	src: url('../font/fontello.eot') format('embedded-opentype'),
	url('../font/fontello.woff') format('woff'),
	url('../font/fontello.ttf') format('truetype'),
	url('../font/fontello.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


body {
	font: 0.9em sans-serif;
	background-color: white;
}
p{
	margin:0.9em;
}
code{
	font-size: larger;
}
.hidden{
	display:none;
}

/*=== DEFAULT LAYOUT - GENERAL ===============================================*/
.default #root, .sco #root{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}
.default #header, .sco #header{
	position:absolute;
	top:0;
	left:0;
	right:0;
	height:60px;
}
.default #header h1, .sco #header h1{
	margin: 0;
	text-align: right;
	color:white;
	font-size:1.5em;
	padding-right: 1em;
	padding-top: 0.5em;
}
.default #accessibility, .sco #accessibility{
	position: absolute;
	top: 0;
	right:0;
	margin:0;
}
#main{
	z-index: 1;
}

/*=== DEFAULT LAYOUT - FLEXBOX ===============================================*/

/*--- ROOT -------------------------------------------------------------------*/
.default #root, .sco #root{
	display: flex;
	flex-flow: column;
}
.default #header, .sco #header{
	flex: 0 0 60px;
}
.default #main, .sco #main{
	flex: 1 1 auto;
}
.default #footer, .sco #footer{
	flex: 0 0 20px;
}

/*--- MAIN -------------------------------------------------------------------*/
.default #main{
	display: flex;
	flex-flow: row;
	position: relative;
}
.default #toolbox{
	order:1;
	flex: 0 0 300px;
	position: relative;
}
.default #document{
	order:2;
	flex: 1 1 auto;
	margin-top:60px;
}
.default .zen_true #toolbox{
	display:none;
}
.default .zen_true #document{
	order:1;
}


/*--- TOOLBOX ----------------------------------------------------------------*/
.default #toolbox{
	display: flex;
	flex-flow: column;
}
.default #tools{
	order:1;
	flex: 0 0 60px;
}
.default #menu{
	order:2;
	flex: 1 1 auto;
	margin-bottom:60px;
}
.default .schActive #menu{
	order:3;
}
.default div.schCmds{
	order:2;
	flex: 0 0 auto;
}

/*--- MENU -------------------------------------------------------------------*/
.default #root,
.default #main,
.default #toolbox,
.default #menu,
.default #menu > ul.mnu { /* Must be set on all parent flex items of an overflowing item */
	min-height:0;
	overflow:hidden;
}
.default #menu{
	display: flex;
	flex-flow: column;
}

.default #menu > div.mnuSrlUpFra{
	order:1;
	flex: 0 0 20px;
}
.default #menu > ul.mnu{
	order:2;
	flex: 1 1 auto;
	overflow-y:auto;
	margin-top:0;
	margin-bottom:0;
	position:relative; /* Necessaire pour le centrage automatique de l'item de menu courant */
}
.default #menu > div.mnuSrlDwnFra{
	order:3;
	flex: 0 0 20px;
}

/*--- DOCUMENT ---------------------------------------------------------------*/
.default #document{
	display: flex;
	flex-flow: column;
}
.default #content{
	order:1;
	flex: 1 1 auto;
	background: white;
	position:relative;
}
.default .scroller{ /* DEBUG - IE11 : ne peut pas scroller un flex auto */
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	padding:1em;
	overflow:auto;
}
.default #navigation{
	order:2;
	flex: 0 0 45px;
	padding-top:15px;
}

/*=== DEFAULT LAYOUT - GENERAL BACKGROUNDS ===================================*/
/* SVG and chrome: https://code.google.com/p/chromium/issues/detail?id=110195 */
.default #root{
	background: url(../img/tpl/back-menu.svg) no-repeat left;
	background-size: 300px 100%;
}
.default #root.zen_true{
	background-image: none;
}
.default #header, .sco #header{
	background: url(../img/tpl/back-top.svg) no-repeat top;
	background-size: 100% 60px;
}
.default #main{
	background: url(../img/tpl/back-bottom.svg) no-repeat bottom;
	background-size: 100% 60px;
}

/*=== DEFAULT LAYOUT - TOOLS MENU ============================================*/
.default #tools ul{
	list-style-type: none;
	padding:0 0 0 1em;
	margin:0;
}
.default #tools li{
	display:inline-block;
	height:50px;
}
.default #tools .lbl{
	display:inline-block;
	margin:0 0 0 1em;
	padding: 4px;
	line-height:0pt;
}
.default #tools .anc_yes .lbl{
	background-color: #e0ecec ;
	border-radius: 0 0 30px 30px;	
}
.default #tools .item{
	display:inline-block;
	padding-top:1em;
	box-sizing: border-box;
	width: 40px;
	height: 40px; 
	padding-left: 40px;
	overflow: hidden;
	background: url(../img/tpl/menu-tools.svg) no-repeat top;
	background-size: 100%;
}
.default #tools .home .item{
	background-position: 0px 0px;
}
.default #tools .home.anc_yes .item{
	background-position: 0px -320px;
}
.default #tools .module .item{
	background-position: 0px -80px;
}
.default #tools .module.anc_yes .item{
	background-position: 0px -400px;
}
.default #tools .tools .item{
	background-position: 0px -160px;
}
.default #tools .tools.anc_yes .item{
	background-position: 0px -480px;
}
.default #tools a:hover{
	opacity:0.9;
}

/*=== DEFAULT LAYOUT - MAIN MENU =============================================*/
.default #menu .mnuSrlUpFra,
.default #menu .mnuSrlDwnFra{
	text-align: center;
}
.default #menu .mnuSrlUpBtn,
.default #menu .mnuSrlDwnBtn{
	display:inline-block;
	padding:0;
	box-sizing: border-box;
	width: 280px;
	height: 20px; 
	padding-left: 280px;
	overflow: hidden;
	background: url(../img/tpl/menu-scroller.svg) no-repeat top;
	background-size: 100%;
}
.default #menu .mnuSrlDwnBtn{
	background-position: 0px -36px;
}


.default #menu ul{
	list-style-type: none;
	padding:0 10px;
	margin:0;
}
.default #menu ul.sub{
	padding:0 0 0 1em;
}
.default #menu .mnu li{
	background-image: linear-gradient(to right, #434e52 0%,rgba(0,0,0,0) 100%);
	background-size: 100% 1px; 
	background-position: bottom; 
	background-repeat: no-repeat;
}
.default #menu .sub li:last-child{
	background: none;
}
.default #menu .mnu .lbl{
	padding:1px 0 1px 22px;
	min-height:24px;
	position:relative;
}
.default #menu .mnu .quiz .lbl, .default #menu .mnu .coQuiz .lbl{
	background: url(../img/tpl/menu-bullet-quiz.svg) no-repeat top;
	background-size: 18px;
	background-position: 2px 4px;
}
.default #menu .mnu .tgle_c,
.default #menu .mnu .tgle_o{
	position:absolute;
	display: inline-block;
	box-sizing: border-box;
	width:20px;
	height:20px;
	left:0;
	top:2px;
	padding-left: 20px;
	overflow: hidden;
	background: url(../img/tpl/menu-toggle.svg) no-repeat top;
	background-size: 18px;
	background-position: 0px 0px;
}
.default #menu .mnu .tgle_o{
	background-position: 0px -40px;
}
.default #menu .mnu a{
	color:black;
	text-decoration: none;
}
.default #menu .mnu .item {
	display:block;	
	min-height:22px;
	padding-top:2px;
}
.default #menu .mnu .item span {
	display:inline-block;
	padding: 1px 5px;
	margin-bottom:3px;
}
.default #menu .mnu .sel_yes >.lbl .item span {
	background-color: #434e52;
	color:white;
	border-radius:5px;
}

/*=== DEFAULT LAYOUT - NAVIGATION BUTTONS ====================================*/
.default #navigation{
	text-align:right;
}
.default #navigation nav{
	display:inline-block;
}
.default #navigation ul{
	display:inline-block;
	list-style-type: none;
	padding:0;
	margin:0;
	text-align: right;
}
.default #navigation li{
	display:inline-block;
	height:50px;
}
.default #navigation a{
	display:inline-block;
	padding-top:1.5em;
	margin:0 1em 0 0;
	box-sizing: border-box;
	width: 40px;
	height: 40px; 
	padding-left: 40px;
	overflow: hidden;
	background: url(../img/tpl/buttons.svg) no-repeat top;
	background-size: 100%;
}
.default #navigation a.btnNav.prev{
	background-position: 0px 0px;
}
.default #navigation a.btnNav.next{
	background-position: 0px -80px;
}
.default #navigation span.btnNav{
	display:inline-block;
	padding-top:1.5em;
	margin:0 1em 0 0;
	box-sizing: border-box;
	width: 40px;
	height: 40px; 
}
.default #navigation span.btnNav span{
	display: none;
}
.default #navigation a.btnZen{
	background-position: 0px -160px;
}
.default .zen_true #navigation a.btnZen{
	background-position: 0px -240px;
}
.default #navigation a:hover{
	opacity:0.9;
}

/*=== HOME LAYOUT - GENERAL ==================================================*/
 .home #root{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:-2
}
.home section.article{
	margin-top: 15%;
	margin-left:40%;
	background-color:rgba(67,78,82,0.7);
	padding:0 10px 0 10px;
	text-align:center;
}
.home section.article h1{
	color:white;
	font-size: 3em;
	background-image: none;
}
.home section.article .hBk_co{
	color:white;
}
.home section.article .hBk_co .auth{
	font-size:2em;
}
.home section.article .hBk_co .version{
	font-size:1.5em;
	display:inline-block;
	margin-right:15px;
}
.home section.article .hBk_co .date{
	font-size:1.5em;
	display:inline-block;
}
.home section.article .hBk_co .logo {
	bottom: 5%;
	left: 5%;
	line-height:0;
	position: absolute;
	z-index:-1;
	background-color:transparent;
	box-shadow: -1px 2px 5px 1px rgba(0,0,0,0.8);
}
/*=== HOME LAYOUT - FLEXBOX ==================================================*/

/*--- ROOT -------------------------------------------------------------------*/
.home #root{
	display: flex;
	flex-flow: column;
}
.home #main{
	flex: 1 1 auto;
}
.home #footer{
	flex: 0 0 20px;
}
/*--- MAIN -------------------------------------------------------------------*/
.home #main{
	display: flex;
	flex-flow: column;
}
.home #content{
	flex: 1 1 auto;
}
.home #navigation{
	flex: 0 0 auto;
	margin-bottom:40px;
}

/*=== HOME LAYOUT - GENERAL BACKGROUNDS ======================================*/
/* SVG and chrome: https://code.google.com/p/chromium/issues/detail?id=110195 */
.home #root{
	background: url(../img/tpl/back-home.svg) no-repeat left;
	background-size: 100% 100%;
}

/*=== HOME LAYOUT - NAVIGATION BUTTONS =======================================*/
.home #navigation ul{
	list-style-type: none;
	padding:0;
	margin:0;
	text-align: right;
}
.home #navigation li{
	height:50px;
	margin:0 1em;
}
.home #navigation a{
	display:inline-block;
	color: white;
	height: 40px;
	padding-right: 50px;
	padding-left: 10px;
	background: url(../img/tpl/button-start.svg) no-repeat right;
	background-size: 40px 40px;
	background-color: rgba(67, 78, 82, 0.7);
	text-decoration: none;
	font-size: 1.2em;
}
.home #navigation a span{
	display:inline-block;
	padding-top:10px;
}
.home #navigation a:hover{
	opacity:0.9;
}

/*=== LAYOUT - ACCESSIBILITY MENU  ===========================================*/
#accessibility{
	font-size: 60%;
	list-style-type: none;
	padding:0;
	margin:0;
	z-index:2;
}
#accessibility li{
	display:inline-block;
	margin:0 1em;
}
#accessibility a{
	opacity:0.2;
	color: #e0ecec;
	text-decoration: none;
}
#accessibility:hover a{
	opacity:0.5;
}
#accessibility a:focus{
	opacity:1;
}

/*=== LAYOUT - SUB-WINDOWS ===================================================*/

/*--- CONTAINER --------------------------------------------------------------*/
.subWindow_over{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background: white;
	opacity:0.6;
}
.subWindow_win{
	position:absolute;
	top:3em;
	bottom:3em;
	left:3em;
	right:3em;
	display: flex;
	flex-flow: column;
	background-color: white;
	border:2px solid #434e52;
}
.subWindow_ti{
	flex: 0 0 1.5em;
	background-color: #434e52;
	color:#e0ecec;
	padding-left:0.5em;
	font-weight: bold;
}
.subWindow_co{
	flex: 1 1 auto;
	position: relative;
}
.subWindow_co > a.focusOnCloseBtn{
	position:absolute;
	left:-1000px;
	top:-1000px;
}
.subWindow_fra{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
a.subWindow_x {
	display:inline-block;
	padding:0;
	margin: 0 ;
	box-sizing: border-box;
	width: 16px;
	height: 16px; 
	padding-left: 16px;
	overflow: hidden;
	background: url(../img/content/buttons.svg) no-repeat top;
	background-size: 100%;
	background-position: 0 -32px;
	position:absolute;
	right:2px;
	top:2px;
}

/*--- subWin.eval - FLEXBOX --------------------------------------------------*/
.subWin.eval #root{
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	display: flex;
	flex-flow: column;
}
.subWin.eval #header{
	position:absolute;
	text-align:right;
	width:100%;
	z-index: 1;
}
.subWin.eval #accessibility{
	padding-right:20px;
}
.subWin.eval #accessibility a{
	color: #434e52;
}
.subWin.eval #main{
	flex: 1 1 auto;
	display: flex;
	flex-flow: column;
	background: url(../img/tpl/back-bottom-straight.svg) no-repeat bottom;
	background-size: 100% 60px;
}
.subWin.eval #footer{
}
.subWin.eval #document{
	flex: 1 1 auto;
	display: flex;
	flex-flow: column;
}
.subWin.eval #content{
	flex: 1 1 auto;
	position:relative;
	padding:0 0.5em;
}
.subWin.eval .scroller{ /* DEBUG - IE11 : ne peut pas scroller un flex auto */
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	padding:1em;
	overflow-y: auto;
}
.subWin.eval #navigation{
	flex: 0 0 45px;
	padding-top:15px;
	position:relative;
}

/*--- subWin.eval - NAVBAR ---------------------------------------------------*/
.subWin.eval #navigation .evalCounter{
	position:absolute;
	font-size:2em;
	color:#e0ecec;
	top:20px;
	left:5px;
}
.subWin.eval #navigation .evalCounter{
}

.subWin.eval #navigation nav{
	text-align:right;
}
.subWin.eval #navigation ul{
	display:inline-block;
	list-style-type: none;
	padding:5px 0 0 0;
	margin:0;
	text-align: right;
}
.subWin.eval #navigation li{
	display:inline-block;
	height:30px;
}
.subWin.eval #navigation a{
	display:inline-block;
	padding-top:1.5em;
	margin:0 1em 0 0;
	box-sizing: border-box;
	width: 35px;
	height: 35px; 
	padding-left: 35px;
	overflow: hidden;
	background: url(../img/tpl/buttons.svg) no-repeat top;
	background-size: 100%;
}
.subWin.eval #navigation a.btnNav.prevEval{
	background-position: 0px 0px;
}
.subWin.eval #navigation a.btnNav.nextEval{
	background-position: 0px -70px;
}
.subWin.eval #navigation a:hover{
	opacity:0.9;
}
.subWin.eval #navigation span.btnNav{
	display:inline-block;
	padding-top:1.5em;
	margin:0 1em 0 0;
	box-sizing: border-box;
	width: 35px;
	height: 35px; 
}
.subWin.eval #navigation span.btnNav span{
	display: none;
}

/* === START - article ====================================================== */
section.article > .hBk_ti, .sco section.article > .mainContent_ti{
	background-image: linear-gradient(to right, #434e52 0%,rgba(0,0,0,0) 100%);
	background-size: 100% 2px; 
	background-position: bottom; 
	background-repeat: no-repeat;
	padding-bottom:4px;
	font-size: 1.6em;
}
section > .hBk_ti, .sco section > .mainContent_ti{
	background-image: linear-gradient(to right, #434e52 0%,rgba(0,0,0,0) 100%);
	background-size: 100% 1px; 
	background-position: bottom; 
	background-repeat: no-repeat;
	padding-bottom:4px;
	font-size: 1.3em;
	margin-top:25px;
}
figcaption{
	vertical-align: middle;
	font-style:italic;
}
a.zoom{
	display:inline-block;
	padding:0;
	margin: 0 0 -0.2em 0.5em;
	box-sizing: border-box;
	width: 20px;
	height: 20px; 
	padding-left: 20px;
	overflow: hidden;
	background: url(../img/content/buttons.svg) no-repeat top;
	background-size: 100%;
	background-position: 0 -200px;
}
a.tooltip_a.info{
	display:inline-block;
	padding:0;
	margin: 0 0 -0.2em 0.5em;
	box-sizing: border-box;
	width: 20px;
	height: 20px; 
	padding-left: 20px;
	overflow: hidden;
	background: url(../img/content/buttons.svg) no-repeat top;
	background-size: 100%;
}
.tooltip{
	background-color: #e0ecec;
	border:2px solid #434e52;
}
.tooltip_co{
	padding: 2px 4px;
	
}
.tooltip_ti{
	background-color: #434e52;
	min-height:20px;
	color:#ffffff;
	text-align:center;
}
.tooltip_x{
	display:inline-block;
	padding:0;
	margin: 0 ;
	box-sizing: border-box;
	width: 16px;
	height: 16px; 
	padding-left: 16px;
	overflow: hidden;
	background: url(../img/content/buttons.svg) no-repeat top;
	background-size: 100%;
	background-position: 0 -32px;
	position:absolute;
	right:2px;
	top:2px;
}
.cc-button img{
	vertical-align: middle;
}
/* === STOP - article ======================================================= */

/* === CodeMirror =========================================================== */
.CodeMirror-static{
	margin-left:40px;
}
.CodeMirror-static pre {
	/* Reset some styles that the rest of the page might have set */
	border-radius: 0;
	border-width: 0;
	background: transparent;
	font-family: inherit;
	font-size: inherit;
	margin: 0;
	white-space: pre;
	word-wrap: normal;
	line-height: inherit;
	color: inherit;
	z-index: 2;
	position: relative;
	overflow: visible;
	border-right: 30px solid transparent;
	width: fit-content;
	font-family: monospace;
	tab-size: 2;
}
.CodeMirror-line{
	position: relative;
	min-height: 16px;
}
.CodeMirror-linenumber{
	position: absolute;
	top:0;
	left:-38px;
	width:30px;
	padding: 0 3px 0 5px;
	min-width: 20px;
	min-height: 16px;
	text-align: right;
	color: #999;
	background-color: #f7f7f7;
	font-size:0.8em;
}

.cm-keyword {color: #708;}
.cm-atom {color: #219;}
.cm-number {color: #164;}
.cm-def {color: #00f;}
.cm-variable {color: black;}
.cm-variable-2 {color: #05a;}
.cm-variable-3 {color: #085;}
.cm-property {color: black;}
.cm-operator {color: black;}
.cm-comment {color: #a50;}
.cm-string {color: #a11;}
.cm-string-2 {color: #f50;}
.cm-meta {color: #555;}
.cm-error {color: #f00;}
.cm-qualifier {color: #555;}
.cm-builtin {color: #30a;}
.cm-bracket {color: #997;}
.cm-tag {color: #170;}
.cm-attribute {color: #00c;}
.cm-header {color: blue;}
.cm-quote {color: #090;}
.cm-hr {color: #999;}
.cm-link {color: #00c;}

.cm-negative {color: #d44;}
.cm-positive {color: #292;}
.cm-header, .cm-strong {font-weight: bold;}
.cm-em {font-style: italic;}
.cm-link {text-decoration: underline;}
.cm-invalidchar {color: #f00;}
/* === STOP - CodeMirror ==================================================== */

/* === START - scCode ======================================================= */
div.scCodeActive{
	border:1px solid silver;
	background-color:white;
}
.scCodeCtrl{
	background-color:#f3f3f3;
	border-bottom:1px solid #cfcfcf;
	padding:0;
	height:19px;
	text-align:right;
	z-index:2;
	position:relative;
}

div.scCodeActive .CodeMirror-static{
	transition: margin-left 200ms ease-in;
}
div.scCodeLineNums-invisible .CodeMirror-linenumber{
	display:none;
}
div.scCodeLineNums-invisible .CodeMirror-static{
	margin-left:2px;
}
.scCodeRaw-invisible .scCodeRaw,
.scCodeRaw-visible .scCodeCode{
	display:block;
}
.scCodeActive .scCodeRaw,
.scCodeActive .scCodeCode{
	transition: opacity 1s ease-out;
	opacity: 0; 
	height: 0;
	overflow: hidden;
}
.scCodeRaw-invisible .scCodeCode,
.scCodeRaw-visible .scCodeRaw{
	opacity: 1;
	height: auto;
	overflow:auto;
}
.scCodeCtrl a{
	display:inline-block;
	width:20px;
	height:19px;
	background-image:url("../img/code/buttons.png");
	background-repeat: no-repeat;
	background-position: -0px -0px;
	margin:0 1px;
}
.scCodeCtrl a:hover{
	opacity:0.8;
}
.scCodeCtrl a span{
	display:none;
}
.scCodeCtrl a.scCodeBtnLineNums{
	background-position: -0px -20px;
}
div.scCodeLineNums-invisible .scCodeCtrl a.scCodeBtnLineNums{
	background-position: -20px -20px;
}
.scCodeRaw-visible .scCodeCtrl a.scCodeBtnLineNums{
	visibility: hidden;
}
.scCodeCtrl a.scCodeBtnRaw{
	background-position: -0px -40px;
}
.scCodePlain .scCodeCtrl a.scCodeBtnRaw{
	background-position: -0px -20px;
}
.scCodeRaw-visible .scCodeCtrl a.scCodeBtnRaw{
	background-color: silver;
}
.scCodeRaw-visible.scCodePlain .scCodeCtrl a.scCodeBtnRaw{
	background-position: -20px -20px;
	background-color: inherit;
}
.scCodeCtrl a.scCodeBtnWrap{
	background-position: -0px -80px;
}
.scCodeWrap-on .scCodeCtrl a.scCodeBtnWrap{
	background-color: silver;
}
.scCodeRaw-visible .scCodeCtrl a.scCodeBtnWrap{
	visibility: hidden;
}
.scCodeCopyMsg.scCodeHidden {
	display:block;
	height:0px;
}
.scCodeCopyMsg.scCodeVisible {
	display:block;
	height:18px;
}
.scCodeCopyMsg {
	position:absolute;
	z-index:1;
	opacity:0.8;
	top:19px;
	left:0;
	width:100%;
	background-color:#f7ed99;
	border-bottom:1px solid #e4ca8c;
	color:#7e652a;
	text-align: center;
	overflow:hidden;
	transition: height 200ms linear;
}
/* === STOP - scCode ======================================================== */

/* === START - scImgMgr ===================================================== */
.scImgZmOver{
	background: white;
}
.scImgZmMag{
	box-shadow: 0 0 5px 0 #000000;
	cursor: crosshair;
}
/* === STOP - scImgMgr ====================================================== */

/* === START - SEARCH ======================================================= */
.mnu_sch > .capt , .mnu_tgle_o, .mnu_tgle_c{
	color: #434e52;
}
.schCmds{
	position:relative;
}

.schLabel {
	position: absolute;
	left: -9999px;
}

div.schPropose a:hover{
	text-decoration:none;
}
.schBtnPropose:hover,
.schBtnPropose:focus{
	background-color: #F6F6F6;
}
.schPropose {
	position: absolute;
	top: 29px;
	left: 56px;
	width: 140px;
	padding: 5px 2px;
	border: 1px solid #434e52;
	border-top: 0;
	background-color: white;
	z-index: 100;
	font-size: 0.7em;
	box-shadow: 0px 4px 4px #666;
}
.schBtnPropose{
	display:block;
	text-decoration:none;
	color:#434e52;
	font-style: italic;
	padding:0 2px;
	margin:1px;
}
.schBtnPropose:hover ,
.schBtnPropose:active ,
.schBtnPropose:focus {
	outline:none;
	text-decoration:none;
	background-color: #434e52;
	color: #ffffff;
	border-radius: 2px; 
}
.schProposeExceeded{
	display:block;
	color:#434e52;
	font-style: italic;
	padding:2px 3px;
}
div.schProp_no{
	display:none;
}
.schDisplay_off .schResults{
	display:none;
}
form.schForm {
	text-align: center;
	margin-bottom:4px;
}
input.schInput {
	border: 1px solid #000000;
	height: 21px;
	padding: 0px 2px;
	width: 140px;
}
input.schBtnLaunch {
	background: url("../img/search/find.svg") no-repeat center left;
	background-size: 100%;
	border: none;
	cursor: pointer;
	color: transparent;
	height: 38px;
	width: 38px;
	padding: 0;
	margin-left: 5px;
}
.schCmds_act input.schInput {
	border: 1px solid #434e52;
	color:#434e52;
}

.schResults .schPgeBk .schPgeBtn,
.schResults .mnu_sch_yes .mnu_lnk{
	background-image: url(../img/search/schPgeRank.svg);
	background-repeat: no-repeat;
	background-position: right;
	text-decoration: none;
}

.schResults .schNoRes{
	text-align: center;
	font-size: 1.5em;
	margin-top: 18px;
}

.schResults .mnu_sch,
.schResults .schPgeBtn>span{
	display:block;
	background-color:white;
}
.schResults .schPgeRank_1 .mnu_sch, .schResults .schPgeRank_1 .schPgeBtn>span{
	margin-right:14px;
}
.schResults .schPgeRank_2 .mnu_sch, .schResults .schPgeRank_2 .schPgeBtn>span{
	margin-right:28px;
}
.schResults .schPgeRank_3 .mnu_sch, .schResults .schPgeRank_3 .schPgeBtn>span{
	margin-right:41px;
}
.schResults .schPgeRank_4 .mnu_sch, .schResults .schPgeRank_4 .schPgeBtn>span{
	margin-right:55px;
}
.schResults .schPgeRank_5 .mnu_sch, .schResults .schPgeRank_5 .schPgeBtn>span{
	margin-right:69px;
}
.schResults .schPgeRank_6 .mnu_sch, .schResults .schPgeRank_6 .schPgeBtn>span{
	margin-right:85px;
}
.schResults .schPgeRank_7 .mnu_sch, .schResults .schPgeRank_7 .schPgeBtn>span{
	margin-right:97px;
}
.schResults .schPgeRank_8 .mnu_sch, .schResults .schPgeRank_8 .schPgeBtn>span{
	margin-right:111px;
}
.schResults .schPgeRank_9 .mnu_sch, .schResults .schPgeRank_9 .schPgeBtn>span{
	margin-right:124px;
}
.schResFrame {
	position: fixed;
	left:50%;
	bottom:-80px;
	width:700px;
	margin-left:-350px;
	color: #434e52;
	background-color: #e0ecec;
	border-right: 1px solid #434e52;
	border-top: 1px solid #434e52;
	border-left: 1px solid #434e52;
	height: 50px;
	transition: all 0.4s ease-out;
	z-index: 91;
	box-shadow: 0 0 10px #434e52;
}
.schDisplay_on .schResFrame {
	bottom: 0px;
}
.schDisplayList_on .schResFrame{
	height: 530px;
}
.schResList {
	position: absolute;
	bottom: 5px;
	left: 5px;
	top: 5px;
	right: 5px;
	display: none;
}
.schDisplayList_on .schResList {
	display: block;
}
.schResListSrl {
	position: absolute;
	bottom: 42px;
	left: 0px;
	top: 0;
	right: 0px;
	overflow: auto;
	background-color: white;
	padding: 5px;
}
.schResults a{
	margin: 0 5px;
}
.schResults a.schParentBtn {
	color: #666;
	font-style: italic;
	font-size:95%;
}
.schResults li.mnu_sel_yes a.schParentBtn {
	font-weight: bold;
}
.schBtnTgle {
	background: url(../img/search/schBtn.svg) no-repeat;
	background-size: 100%;
	background-position: 0 -27px;
	width: 26px;
	height: 27px;
	display: block;
	position: absolute;
	bottom: 7px;
	left: 6px;
	z-index: 1;
}
.schDisplayList_on .schBtnTgle{
	background-position: 0 0;
}
.schBtnTgle span{
	display:none;
}
.schBtnReset {
	background: url(../img/search/schBtn.svg) bottom left no-repeat;
	background-size: 100%;
	background-repeat: no-repeat;
	width: 26px;
	height: 27px;
	display: block;
	position: absolute;
	top: -12px;
	right: -15px;
}
.schBtnReset:hover{
	opacity:0.8;
}
.schBtnReset span{
	display:none;
}
.schHitBox,
.schResBox,
.schPageBox {
	text-align: center;
	margin: 4px 0px 0 40px;
}
.schHitBox {
	position: absolute;
	bottom: 27px;
	left: 0;
	right: 0;
}
.schPageBox {
	position: absolute;
	bottom: 6px;
	left: 0;
	right: 0;
	margin-left: 0;
	z-index: 0;
}
.schDisplay_none .schResBox{
	text-align: center;
	margin: 20px 200px 6px 200px;
}
.schDisplay_none .schHitBox{
	display:none;
}
.schBtnNxt,
.schBtnPrv,
.schBtnPrvHit,
.schBtnNxtHit{
	background: url(../img/search/schBtn.svg) no-repeat;
	background-size: 100%;	
	position: absolute;
	width: 26px;
	height: 27px;	
	z-index: 1;
}
.schBtnAct_no,
.schBtnHitAct_no{
	display:none;
}
.schBtnNxt span,
.schBtnPrv span,
.schBtnPrvHit span,
.schBtnNxtHit span{
	display:none;
}
.schDisplay_none .schBtnNxt,
.schDisplay_none .schBtnPrv,
.schDisplay_none .schBtnPrvHit,
.schDisplay_none .schBtnNxtHit{
	display:none;
}
.schDisplay_one .schBtnNxt,
.schDisplay_one .schBtnPrv{
	display:none;
}
.schBtnNxt{
	background-position: 0px -40px;
}
.schBtnPrv{
	background-position: 0px -55px;
}
.schBtnNxtHit{
	background-position: 0px -58px;
}
.schBtnPrvHit{
	background-position: 0px -88px;
}
.schBtnPrvHit{
	top:10px;
	left:0;
}
.schBtnNxtHit{
	top:10px;
	right:5px;
}
.schBtnPrv{
	right:57px;
	top:0;
}
.schBtnNxt{
	right:5px;
	top:0;
}
.schPgeBk .schPgeBtn span{
	background-position: center right;
	background-repeat:no-repeat;
	display:block;
	padding-right:165px;
}
.schPgeBk .mnu_lnk span{
	background-position: center right;
	background-repeat:no-repeat;	
	display:block;
}
.schPgeBk span.schPgeRank{
	display:none;
}
.schResults a.schPgeBtn,
.schResults a.mnu_lnk {
	margin: 2px;
	display: block;
	color: #434e52;
}
div.schResults li.mnu_sel_yes .schPgeBtn,
div.schResults div.mnu_sel_yes .mnu_lnk{
	font-weight: bold;
	cursor: default;
}
div.schResults div.mnu_sch_no a.mnu_lnk{
	color:#aaa;
	cursor:default;
	text-decoration:none;
}
div.schResults div.mnu_sch_no a.mnu_lnk:hover{
	text-decoration:none;
}
.schResults a.mnu_tgle_o,.schResults a.mnu_tgle_c{
	position: absolute;
	margin-top: -14px;
	margin-left: -16px;
	width: 7px;
	height: 7px;
	display:inline-block;
	background: url(../img/search/schMnuTgle.svg) no-repeat;
	background-position: 0 0;
}
.schResults a.mnu_tgle_o span,.schResults a.mnu_tgle_c span{
	display:none;
}
.schResults div.mnu_sch_yes a.mnu_tgle_c{
	background-position: 0px -14px;
}
.schResults div.mnu_sch_yes a.mnu_tgle_o{
	background-position: 0px -0px;
}
.schResults div.mnu_sch_no a.mnu_tgle_c{
	background-position: 0px -21px; 
}
.schResults div.mnu_sch_no a.mnu_tgle_o{
	background-position: 0px -7px;
}
.schResListSrl ul.mnu_root {
	padding: 0 0 0 20px;
}
.schResListSrl li.mnu_b {
	list-style-type:none;
	margin:0;
}
.schResListSrl ul {
	color:#434e52;
	margin:0;
	list-style: disc;
	padding-left: 13px;
	list-style-position: outside;
}
.schResListSrl ul.schParentList{
	list-style-type: none;
}
.schResListSrl ul.schParentList_c{
	display:none;
}
.schResListSrl ul.schParentList_o{
	display:block;
}
li.schPgeBk{
	position:relative;
}
a.schParent_tgle_c,
a.schParent_tgle_o {
	position: absolute;
	margin-left: -13px;
	top: 2px;
	width: 7px;
	height: 7px;
	display:inline-block;
	background: url(../img/search/schMnuTgle.svg) no-repeat;
}
a.schParent_tgle_c span,
a.schParent_tgle_o span {
	display:none;
}
a.schParent_tgle_c{
	background-position: 0px -14px;
}
a.schParent_tgle_o{
	background-position: 0px 0px;
}
.schParent_tgle_c:hover,
.schParent_tgle_o:hover {
	text-decoration:none;
	color: #434e52;
}
div.schResults .schPgeBk .schPgeBtn:hover,
div.schResults .mnu_sch_yes .mnu_lnk:hover {
	color: #434e52;
	text-decoration: underline;
}
div.schResults div.mnu_sel_yes .mnu_lnk:hover{
	text-decoration: none;
}
.schResCnt,
.schHitCnt{
	display:inline-block;
	min-width:40px;
	text-align: center;
}
.schDisplay_none .schResCnt,
.schDisplay_one .schResCnt{
	display:none;
}
.schHit {
	background-color: #434e52;
	color:#e0ecec;
	border-radius: 3px; 
}
.schHit_current {
	background-color: #434e52;
	color:white;
	border-radius: 3px;
	box-shadow: 0 0 5px 0 #434e52;
}
.schTerm{
	font-weight: bold;
}
.schTerm em{
	font-weight: normal;
}
.schDisplay_on #menu ul.mnu_root .mnu_sch_no > a:hover{
	text-decoration:none;
}
.schDisplay_on #menu ul.mnu_root .mnu_sch_no > a.mnu_lnk {
	color: #BBB;
	cursor: default;
}
.tplSchBox{
	position:relative;
	z-index: 2;
}
div.schResults .schPgeBk span.schPgeRank {
	display: none;
}
/* === STOP - SEARCH ======================================================== */

/* === START - PLAYER MEDIAS ================================================ */
@font-face {
  font-family: 'fontsmedia';
  src: url('../font/fontsmedia.eot?11121778');
  src: url('../font/fontsmedia.eot?11121778#iefix') format('embedded-opentype'),
       url('../font/fontsmedia.woff2?11121778') format('woff2'),
       url('../font/fontsmedia.woff?11121778') format('woff'),
       url('../font/fontsmedia.ttf?11121778') format('truetype'),
       url('../font/fontsmedia.svg?11121778#fontsmedia') format('svg');
  font-weight: normal;
  font-style: normal;
}
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontsmedia";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
   font-size: 130%; 
 }
.icon-muted:before { content: '\e800'; }
.icon-mute:before { content: '\e801'; }
.icon-fullScreen:before { content: '\e802'; }
/*.icon-small:before { content: '\e803'; }*/
.icon-subtitles:before { content: '\e805'; }
.icon-audiodesc:before { content: '\e806'; margin: 0 0.3em 0 0.1em; font-size: 170%; }
.icon-altvideo:before { content: '\e807'; margin: -0.2em 0 0; font-size: 120%; }
.icon-transcript:before { content: '\e808'; font-size: 120%; }
.icon-play:before { content: '\e809'; }
.icon-pause:before { content: '\e80a'; }
.icon-defaultvideo:before { content: '\e80b'; font-size: 155%; margin: -0.1em 0em 0 0.1em; }
.icon-loader:before { content: '\E80F'; }
.icon-ld:before,
.icon-md:before,
.icon-hd:before {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 120%;
}
.icon-ld:before { content: 'LD'; margin-right: 0.4em; }
.icon-md:before { content: 'MD'; margin-right: 0.6em; }
.icon-hd:before { content: 'HD'; margin-right: 0.4em; }


.player_bk button span{
	color: #BBB;
}
.player_bk button:not([disabled]):hover span,
.player_bk button:not([disabled]).act_on span,
.player_bk button:not([disabled]).btnSubDisplay_on span{
	color: #cc181e;
	text-shadow: 1px 1px 1px #000;
}
.display_off {
	display: none;
}
.mediaPlayer{
	display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}
iframe.mediaPlayer {
	margin: auto;
}
.player_bk {
	border: 1px solid black;
	box-shadow: inset 0 1px 0px rgba(255,255,255,.2);
	background: #494949;
	background: linear-gradient(to bottom, #494949 0%, #434242 31%, #393838 55%, #242323 83%, #1b1a1a 100%, #161515 100%, #0b0b0b 100%); /* W3C */
	height: 30px;
	border-radius: 5px;
	box-shadow: 0px 0px 3px rgba(0,0,0,.3),inset 0 1px 0px rgba(255,255,255,.2);
	margin: auto;
	box-sizing: border-box;
	overflow: hidden;
    display: flex;
    align-items: center;
}
object.resAudio {
	visibility:hidden;
}
.player_bk button {
	border:none;
	padding: 0;
	margin: 0;
	cursor:pointer;
	vertical-align: middle;
	background:transparent;
}

.player_bk img {
	box-shadow:none;
}

.pause,
.play {
	border-right: 1px solid black;
}
.mute,
.muted,
.transcript,
.audiodesc,
.altvideo,
.defaultvideo {
	padding-right: 0;
}
.mute,
.muted{
	border-left: 1px solid black;
}
.player_bk .video_act_on{
	cursor:default;
	opacity: 0.2;
}
div.volume_bk {
	width: 3.125em;
	height: 4px;
	cursor:pointer;
	border: 1px solid black;
	display: inline-block;
	border-radius: 20px;
	background-color: #242323;
	box-shadow: inset 0px 4px 4px rgba(0,0,0,.6);
	position: relative;
}
div.volume_value {
	height: 4px;
	border-radius: 20px;
	background-color: #cc181e;
}
div.seek_progress {
	width: 13.125em;
	margin-left: 4px;
	cursor:pointer;
	border: 1px solid black;
	display: inline-block;
	height: 8px;
	border-radius: 20px;
	background-color: #242323;
	box-shadow: inset 0px 4px 4px rgba(0,0,0,.6);
	position: relative;
}
div.seek_value {
	width: 0;
	position: absolute;
	top: 0;
	height: 8px;
	border-radius: 20px;
	background-color: #cc181e;
}
div.load_progress {
	width: 0;
	background-color: #fff;
	height: 8px;
	border-radius: 20px;
	opacity: 0.2;
}
input[type="range"]  {
	-webkit-appearance: none !important;
	width: 100%;
	background-color: transparent;
	border: none;
	margin: auto;
	transition: all 0.3s ease;
	cursor: pointer;
	position: absolute;
	left: 0;
	cursor: pointer;
	padding: 0;
}
input[type="range"]::-moz-range-track {
	opacity: 0;
}
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	position: relative;
	top: 0px;
	z-index: 1;
	width: 11px;
	height: 11px;
	cursor: pointer;
	border: none;
	background: none;
}
input[type="range"]::-moz-range-thumb {
	border: none;
	position: relative;
	top: 0px;
	z-index: 1;
	width: 10px;
	height: 10px;
	cursor: pointer;
}
input[type="range"]::-ms-thumb {
	background: none;
	border: none;
	position: relative;
	top: 0px;
	z-index: 1;
	width: 10px;
	height: 10px;
	cursor: pointer;
}
input[type="range"]::-ms-track {
	color: transparent;
	border: none;
	background: none;
}
input[type="range"]::-ms-fill-lower {
	background: none;
	border: none;
}
input[type="range"]::-ms-fill-upper {
	background: none;
	border: none;
}
input.seek_btn[type="range"] {
	top: -1px;
	height: 10px;
}
input.volume_btn[type="range"] {
	top: -3px;
	height: 10px;
}
div.time_bk {
	display:inline-block;
	color: #E7E7E7;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 0.9em;
}
div.transcript{
	width: 630px;
	margin: 5px auto 10px;
	padding: 5px;
	border: 1px solid;
	box-shadow: 1px 1px 2px;
	border-radius: 5px 0;
	text-align: left;
}
video {
	box-shadow: 1px 1px 4px;
	display: block;
	margin: 5px auto;
	background: black;
}
ul.btnsLangList .capt,
ul.qualityList .capt{
	display: block;
}
.subBox {
	position: absolute;
	width: 500px;
	left: 50%;
	margin-left: -250px;
	bottom: 40px;
	z-index: 1;
}
.subBox_co{
	background: #000;
	box-shadow: 1px 1px 3px #000;
	color: #fff;
	font-size: 1.1em;
}
.subDisplay_off{
	opacity: 0;
	transition: opacity .25s ease-in-out;
}
.subDisplay_on{
	opacity: 1;
	transition: opacity .25s ease-in-out;
}
.subBox.subDisplay_on{
	opacity: 0.7;
}
ul.btnsLangList,
ul.qualityList {
	position: absolute;
	width: 150px;
	text-align: left;
	list-style: none;
	margin: 0;
	padding: 4px;
	border: 1px solid black;
	box-shadow: inset 0 1px 0px rgba(255,255,255,.2);
	background: linear-gradient(to bottom, #494949 0%, #434242 31%, #393838 55%, #242323 83%, #1b1a1a 100%, #161515 100%, #0b0b0b 100%); /* W3C */
	border-radius: 5px;
	box-shadow: 0px 0px 3px rgba(0,0,0,.3),inset 0 1px 0px rgba(255,255,255,.2);
    margin-left: -25px;
	bottom: 32px;
	z-index: 2;
}
ul.btnsLangList a,
ul.qualityList a{
	color: #E7E7E7;
	background: transparent;
	display: block;
	padding: 2px 5px;
	border: none;
	cursor:pointer;
	text-decoration: none;
}
ul.btnsLangList.subDisplay_off,
ul.qualityList.subDisplay_off{
	visibility: hidden;
}
ul.btnsLangList a:hover,
ul.btnsLangList a.subSelect_on,
ul.qualityList a:hover,
ul.qualityList a.subSelect_on{
	transition: all .25s ease-in-out;
	color: #333;
	background: rgba(231, 231, 231, 0.87);
}

.altVids_bk {
	display:inline-block;
}
/*Fullscreen Mode*/
.fullscreen_on {
	position: static;
}
.fullscreen_on video,
.fullscreen_on object {
	max-width: none;
	z-index: 3;
	position: fixed;
	top: 50%;
	left: 50%;
	box-shadow: none;
}
.fullscreen_on .video_bk {
	position: fixed;
	left: 50%;
	z-index: 3;
	bottom: 20px;
}
.fullscreen_on .is_6_toolsBtn {
	margin-left: -275px;
}
.fullscreen_on .is_5_toolsBtn {
	margin-left: -262.5px;
}
.fullscreen_on .fullscreen_on .is_4_toolsBtn {
	margin-left: -247.5px;
}
.fullscreen_on .is_3_toolsBtn {
	margin-left: -235px;
}
.fullscreen_on .is_2_toolsBtn {
	margin-left: -222.5px;
}
.fullscreen_on .is_1_toolsBtn {
	margin-left: -210px;
}
.fullscreen_on .is_0_toolsBtn {
	margin-left: -197.5px;
}
.fullscreen_on .fullScreen_btn {
	background-position: -1039px 1px;
}
.fullscreen_on .fullScreen_btn:hover {
	background-position: -1079px 1px;
}
.fullscreen_on .subBox {
	z-index: 3;
	bottom: 55px;
}
.fullscreen_bg {
	background: #000000;
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.loader_bk span {
	display: none;
}
.icon-loader {
  animation: spin 2s infinite linear;
  display: inline-block;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@media (max-width: 650px){ 
	div.seek_progress {
		width: 5.125em;
	}
	div.volume_bk {
		display: none;
	}
}
@media (max-width: 450px){ 
	.sepTime_bk, .totalTime_bk, div.volume_bk, div.seek_progress {
		display: none;
	}	
}

/* === STOP - PLAYER MEDIAS ================================================= */


/* === START - FOCUS ======================================================== */
a:focus,
input:focus,
video:focus,
button:focus,
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
	border: none;
	outline: 2px dotted rgb(78, 188, 225);
	transition: outline .25s ease-in-out;
}
/* === STOP - FOCUS ========================================================= */

/* === START - FOOTER ======================================================= */
#footer > a {
	position: absolute;
	right: 5px;
	bottom:0;
}
.legalInfo {
	margin-left: 5px;
}
.default #footer{
	background-color:#f2f2f2;
}
/* === STOP - FOOTER ======================================================== */

/* === START - BALISE PEDAGOGIQUE =========================================== */
.resInFlow {
	text-align: center;
	margin: 10px;
}
.resInFlow_ti {
	background: #EEE;
	margin: 5px 15%;
	padding: 8px;
}
.resInFlow_ti .bkBase{
	margin-top:10px;
}
.resInFlow_ti .desc{
	text-align: left;
}
.listing{
	margin: 10px;
}
.pBk_ti {
	font-size: 1.2em;
	margin-bottom: 0px;
	line-height: 40px;
	color:#434e52;
	text-align:right;
}
.iBk_ti {
	font-size: 1.2em;
	margin-bottom: -10px;
	line-height: 40px;
	color:#434e52;
	margin-left:15px;
}

.pBk_co{
	background-color:rgba(224, 236, 236,0.5);
	border-radius:0 0 0 5px;
	background-image: linear-gradient(to right, #434e52 0%, rgba(0, 0, 0, 0) 100%);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 100% 1px;
	padding: 1px 4px 4px 4px;
	margin-bottom:15px;
	margin-right:1px;
}

.pBk{
	background-image: linear-gradient(0deg, #434e52 0%, rgba(0, 0, 0, 0) 100%);
	background-position: right bottom;
	background-repeat: no-repeat;
	background-size: 1px 100%;
}


.warning{
	background-image: linear-gradient(0deg, #D51921 0%, rgba(0, 0, 0, 0) 100%);
}
.warning_ti i.type{
	color: #D51921;	
}
.warning_co{
	background-color:rgba(238,28,37,0.2);
	background-image: linear-gradient(to right, #D51921 0%, rgba(0, 0, 0, 0) 100%);
}

.pBk_ti > span {
    display: flex;
}
.pBk_ti i.type {
	background:url("../img/content/blocks.svg") no-repeat scroll transparent;
	flex: 0 0 auto;
    height: 40px;
    margin-right: 20px;
    order: 2;
    padding-left: 40px;
}
.pBk_ti span.title {
    flex: 1 1 auto;
    margin-left: 20px;
    order: 1;
    text-align: left;
}
.warning_ti i.type {
	background-position:0 4px;
}
.def_ti i.type {
	background-position:0 -32px;
}
.remark_ti i.type {
	background-position:0 -68px;
}
.legal_ti i.type {
	background-position:0 -103px;
}
.remind_ti i.type {
	background-position:0 -137px;
}
.method_ti i.type {
	background-position:0 -174px;
}
.advice_ti i.type {
	background-position:0 -209px;
}
.complement_ti i.type {
	background-position:0 -241px;
}
.basic_ti i.type {
	background-position:0 -278px;
}
.simulation_ti i.type {
	background-position:0 -315px;
}
.example_ti i.type {
	background-position:0 -354px;
}
.syntax_ti i.type {
	background-position:0 -390px;
}
/* === STOP - BALISE PEDAGOGIQUE ============================================ */

/* === START - ICO ========================================================== */
.module .hBk > h2.hBk_ti:before, .sco .mainContent > h2.mainContent_ti:before {
	background: url("../img/content/ico.svg") no-repeat scroll transparent;
	content: " ";
	float: right;
	height: 120px;
	margin-right: 10px;
	margin-top: -36px;
	width: 120px;
	z-index: 20;
	position: relative;
}
.module .expUc > h2.hBk_ti:before, .sco .expUc > h2.mainContent_ti:before {	
	background-position: 0 -5px;
}
.module .intro > h2.hBk_ti:before, .sco .intro > h2.mainContent_ti:before {
	background-position: 0 -130px;
}
.module .quiz > h2.hBk_ti:before, .sco .quiz > h2.mainContent_ti:before {
	background-position: 2px -255px;
}
.module .courseUa > h2.hBk_ti:before, .sco .courseUa > h2.mainContent_ti:before {
	background-position: 2px -379px;
}
.module .practUc > h2.hBk_ti:before, .sco .practUc > h2.mainContent_ti:before {
	background-position: 2px -504px;
}
.module .conclu > h2.hBk_ti:before, .sco .conclu > h2.mainContent_ti:before {
	background-position: 2px -629px;
}
.module .ueDiv > h2.hBk_ti:before, .sco .ueDiv > h2.mainContent_ti:before {
	background-position: 2px -754px;
}
.module .quest > h2.hBk_ti:before, .sco .quest > h2.mainContent_ti:before {
	background-position: 2px -879px;
}
.module .obj > h2.hBk_ti:before, .sco .obj > h2.mainContent_ti:before {
	background-position: -2px -1003px;
}
.module .assmntUa > h2.hBk_ti:before, .sco .assmntUa > h2.mainContent_ti:before {
	background-position: 2px -1124px;
}
/* === STOP - ICO =========================================================== */

/* === START - MENU DIVISION ================================================ */

.sw_child_navList {
	list-style-type: none;
	background-image: linear-gradient(180deg, #434e52 0%, rgba(0, 0, 0, 0) 100%);
	background-position: left bottom;
	background-repeat: no-repeat;
	background-size: 1px 100%;
	margin: 40px 0 0 40px;
}
.sw_child_navList > li {
	padding-bottom:5px;
}
.sw_child_navList a{
	text-decoration:none;
	font-weight : bold;
	color:#434e52;
}
.sw_child_navList a:hover{
	text-decoration:underline;
}
/* === STOP - MENU DIVISION ================================================= */

/* === START - PRIMITIVE ==================================================== */

.txt_ili, .txt_oli {
	color:#434e52;
}
.txt_ili>p, .txt_oli>p {
	color:#000000;
}
.resLnk{
	color:#434e52;
	text-decoration:none;
}
.op_txt_ul{
	color:#434e52;
	text-decoration:none;
}
.op_txt_ul:hover{
	text-decoration:underline;
}
.op_txt_ul::after{
	color:#434e52;
	font-family:"fontello";
	content: " \e808";
}
.op_txt_ul:hover::after	{
	font-family:"fontello";
	content: " \e809";
	font-size:105%;
}
.home .op_txt_ul{
	color:white;
}
.home.op_txt_ul::after{
	color:white;
}
.txt_ico_tim img,
.txt_form_tim img {
	vertical-align: middle;
}
.txt_form_tim div.MathJax_SVG_Display {
	display:inline !important;
}

.txt_ul{
	color:#434e52;
	text-decoration:none;
}
.dwnLnk{
	color:#434e52;
	text-decoration:none;
}
.dwnLnk:hover{
	text-decoration:underline;
}
.dwnLnk::after{
	font-family:"fontello";
	content: " \e803";
	color:#434e52;
}
.dwnLnk:hover::after{
	font-family:"fontello";
	content: " \e802";
	font-size:105%;
}
.subLnk{
	color:#434e52;
	text-decoration:none;
}
.subLnk:hover{
	text-decoration:underline;
}
.subLnk::after{
	font-family:"fontello";
	content: " \e805";
	color:#434e52;
}
.subLnk:hover::after{
	font-family:"fontello";
	content: " \e804";
	font-size:105%;
}
.infoAnc::after{
	font-family:"fontello";
	content: " \e801";
}
.infoAnc:hover::after{
	font-family:"fontello";
	content: " \e800";
	font-size:105%;
}
.infoAnc.dwnLnk::after{
	font-family:"fontello";
	content: " \e801 \e805";
}
.infoAnc.dwnLnk:hover::after{
	font-family:"fontello";
	content: " \e800 \e804";
	font-size:105%;
}

.txt_tb{
	border-collapse:collapse;
	margin: 15px auto;
}
.txt_tb th {
	border:2px solid #434e52;
	background-color: #e0ecec;
}
.txt_tb td {
	border:1px solid #434e52;
}
.txt_tb td.txt_word_tbtd {
	text-align:center;
}
.txt_tb td.txt_num_tbtd {
	text-align:right;
}
 
.txt_tb caption {
	font-style:italic;
}
.txt_tb p {
	margin:0.1em 0.2em;
}
q:before,
q:after{
	content:" ";
}
.txtRes{
	display: flex;
	flex-flow: row;
}
.txtRes .img{
	flex: 1 1 auto;
}
.txtRes .txt{
	flex: 1 1 auto;
	align-self: center;
}
blockquote.rBk{
	position: relative;
}
blockquote.rBk:before{
	position: absolute;
	content: "«";
	font-size: 4em;
	left: -0.5em;
	top: -0.5em;
	color:#434E52;
	opacity:0.6;
}
blockquote.rBk:after{
	position: absolute;
	content: "»";
	font-size: 4em;
	right: -0.5em;
	bottom: -0.2em;
	color:#434E52;
	opacity:0.6;
}
div.lnkDoc{
	margin: 0 1em 1em;
}
i.webInstruct p{
	margin-bottom: 0;
}
i.webInstruct{
	color:gray;
}
.txt_auth_tl {
	font-weight:bold;
}
.txt_ed_tl {
	text-decoration:underline;
}
.cbkClosed a{
	text-decoration:none;
	color:#434e52;
}
a.iBk_closed::before, a.iBk_open:hover::before{
	font-family:"fontello";
	content: "\e806 ";
	margin-right: 5px;
	font-size:15px;
}
a.iBk_closed:hover::before, a.iBk_open::before{
	font-family:"fontello";
	content: "\e807 ";
	margin-right: 5px;
	font-size:18px;
}
/* === STOP - PRIMITIVE ===================================================== */


/* === START - QUIZ ========================================================= */

/* --- GENERAL STYLES ------------------------------------------------------- */
.quizBody{
	display: flex;
	flex-flow: column;
	margin-top:4em;
}
.quizBody > * {
	flex: 0 0 auto;
}
.quizBody > .toolbar {
	order:1;
}
.coQuiz .quizBody > .toolbar {
    order: 4;
}
.quizBody > .question {
	order:2;
}
.quizBody > .subQuiz{
	order: 3;
}
.quizBody > .response {
	order:3;
}
.quizBody > .globalExp {
	order:4;
}
.toolbar {
	background-color:#e0ecec;
	height:40px;
	display:flex;
}
/* Toolbar dans liste de Quiz */
.subQuiz .toolbar {
   background-color:rgba(224,236,236,0.3);
}
.subQuiz .quizBody{
	margin-top:0;
}
.coQuiz .subQuiz .toolbar {
    background-color: #ffffff;
}

.btnQuiz {
	text-decoration: none;
	color:#434e52;
	font-weight:bold;
	line-height:40px;
	margin-left: 20px;
	height: 40px;
	padding-left:10px;
	padding-right:5px;
}
.btnQuiz span{
	background: url("../img/tpl/toolbar-quiz.svg") no-repeat scroll transparent;
	padding-right:35px;
	display:inline-block;
	height: 40px;
}
.btnQuiz:hover {
	background-color:#434e52;
	color:#e0ecec;
}
.correction span{
	background-position: right 5px;
}
.correction:hover span{
	background-position: right -81px;
}
.reset span{
	background-position: right -39px;
}
.reset:hover span{
	background-position: right -125px;
}
.question >.rBk {
	margin-top: 20px;
	background-image: linear-gradient(to right, #434e52 0%, rgba(0, 0, 0, 0) 100%);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: 100% 1px;
}
.coQuiz .question >.rBk{
	background-image:none;
}
.scoreBox {
	line-height: 40px;
	font-weight:bold;
	margin-left:30px;
	padding-left: 10px;
	padding-right: 10px;
}
.answBest {
	color:#468847;
}
.answWorst {
	color:#D51921;
}
.cbkClosed .cBk_closed{
	background: url("../img/quiz/practOpen.png") no-repeat scroll left top rgba(0, 0, 0, 0);
}
.cbkClosed .cBk_open{
	background: url("../img/quiz/practClose.png") no-repeat scroll left top rgba(0, 0, 0, 0);
}
.quest .hBk_co{
	background: url("../img/quiz/quest.png") no-repeat scroll transparent;
	padding-left:42px;
	min-height: 60px;
}
.cbkClosed .cBk_ti a{
	padding-left:25px;
}
.collBlk_open, .globalExp{
	background-image: linear-gradient(180deg, #434e52 0%, rgba(0, 0, 0, 0) 100%);
	background-position: left bottom;
	background-repeat: no-repeat;
	background-size: 1px 100%;
	margin-left:9px;
	padding-left:5px;
}
.question > .res {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.exoAsw {
	margin-top: 20px;
}
/* --- QCU/QCM STYLES ------------------------------------------------------- */
.response_ti{
	font-weight: normal;
	font-size: 1em;
	display: flex;
	flex-flow: row;
	font-style: italic;
	color:gray;
	margin:0;
}
.response_ti > span:nth-child(-n+2){
	flex: 0 0 auto;
	width: 6em;
}
.response_ti > span:last-child{
	flex: 1 1 auto;
}

ul.choiceList {
	display: flex;
	flex-flow: column;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
li.choiceList_ch{
	flex: 0 0 auto;
	display: flex;
	flex-flow: row;
}
div.choiceList_in{
	flex: 0 0 auto;
	width:6em;
}
div.choiceList_sol{
	flex: 0 0 auto;
	width:6em;
}
div.choiceList_la{
	flex: 1 1 auto;
}
div.choiceList_la p{
	margin-top: 0;
	margin-left: 0;
}

/* --- CATEGORISATION/ORDONNANCEMENT ------------------------------------------------------- */
.mtTable {
	width:100%;
	border-collapse: separate;
	border-spacing:5px;
}
.mtTable td {
	vertical-align: top;
}
.mtTdBasket {
	width:30%;
}
.mtTdBasketSol {
	display: none;
}
.mtTdArrow {
	width: 20px;
	background-image:url("../img/quiz/dragArrow.gif");
	background-repeat: no-repeat;
	background-position: center;
}
.mtTdSol{
	width:50%;
}
.mtTdDropCont, .mtTdBasket {
	padding: 0px;
	margin: 0px;
}
.mtTdBasket .ddBasket, .mtTdBasket .ddBasketCatch {
	min-height:250px;
}
.mtTdHeading {
	text-align: center;
}
.olTableSol {
	width: 100%;
}
.olTdSolHead{
	width: 9em;
}
.ddBasket{
	margin-bottom: 5px;
}
.ddBasketCatch, .ddDropCatch {
	border: 1px solid #434e52;
}
.ddBasketCont, .ddDropCont {
	padding: 2px;
}
.ddBasketSol, .ddDropContIfEmpty span {
	display: none;
}
.ddRepArea {
	margin-bottom:5px;
}
.mtLabel p, .mtLabelSol p, .ddLabel p, .ddLabelSol p {
	text-indent: 0;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-size: 1.1em;
}
.ddDropTi {
	font-weight: bold;
	background-color: #434e52;
	color: white;
	text-align: center;
}
.ddDropContIfEmpty {
	height: 27px;
	background: url("../img/quiz/drop.gif") no-repeat center;
}
.mtTdSol .ddDropContIfEmpty, .olTableSol .ddDropContIfEmpty{
	background: inherit;
}

/*Cadre gris des étiquettes */
.ddLabel, .ddLabelSol {
	text-align: center;
	border: 1px solid Gray;
	background-color: White;
	padding: 2px;
	width: 10em;
	cursor: move;
	margin: 0.1em 0.1em 0.2em 0.1em;
	display:inline-block;
	zoom: 1; /* Hack inline-block pour ie6 & 7*/
	vertical-align: top;
}
.mtLabel, .mtLabelSol {
	display:inline-block;
	zoom: 1; /* Hack inline-block pour ie6 & 7*/
	vertical-align: top;
	padding: 2px;
	margin: 2px;
	border: 1px solid Gray;
	background-color: white;
	cursor: move;
}
.mtLabel span.myTT_a {
	cursor: move;
}
.mtLabelSol, .mtLabelSol span.myTT_a, .ddLabelSol {
	cursor: default;
}

/*Survol des paniers */
.ddBasketDragOver, .ddCatchDragOver {
	background-color: #e0ecec;
}

/*Fin du panier*/
.ddBasketEnd, .ddCatchDragEnd {
	clear: both;
}

/*Titres des catégories et des étiquettes  */
.ddDropTi p, .ddLabel p, .ddLabelSol p {
	margin: 0px;
	text-align: center;
}

/* Si le panier de propositions est vide */
.ddBasketIfEmpty {
	clear: both;
	font-style: italic;
	font-size: 0.9em;
	color: #686868;
	text-align: center;
	padding: 5px 0px;
}

/*Réponse juste*/
.ddLabel_Right, .assmntResult_Right {
	cursor: default;
	padding: 1px;
	border: 2px solid #468847;
}
.ddLabel_Right span.myTT_a, .assmntResult_Right span.myTT_a {
	cursor: default;
}

/*Réponse fausse */
.ddLabel_Wrong, .assmntResult_Wrong {
	cursor: default;
	padding: 1px;
	border: 2px solid #D51921;
}
.ddLabel_Wrong span.myTT_a, .assmntResult_Wrong span.myTT_a {
	cursor: default;
}
.subQuiz{
	padding:0 0 20px 0;
}
.subQuiz_ti{
	border-bottom:1px solid;
}

/* --- TAT ------------------------------------------------------- */
.cloze p{
	line-height: 1.6em;
}
.gapInput{
	border: 1px solid #434e52;
	border-radius:3px;
	font-size:0.9em;
}
.gapInput[disabled]{
	color: #434e52;
	background-color: #E0ECEC;
}
.gapAnswer{
	color: green;
	border: 1px solid red;
	border-radius: 0px 3px 3px 0px;
	border-left:0px;
	background-color: #E0ECEC;
	padding:2px 4px;
}
.assmntResult_0 .gapInput, .assmntResult_0 .exoInput {
	border-color: red;
	color: red;
	border-radius: 3px 0px 0px 3px;
	border-right:0px;
	text-decoration: line-through;
}
.assmntResult_1 .gapInput, .assmntResult_1 .exoInput{
	border-color: green;
	color: green;
}

/* --- EVALUATION ------------------------------------------------------- */
.assmntUa .gotoEval {
	 text-align: center;
}
.assmntUa .gotoEval .btnEval {
	background: url("../img/tpl/button-start.svg") no-repeat scroll right center / 40px 40px transparent;
	color: #434e52;
	display: inline-block;
	font-size: 1.2em;
	height: 40px;
	padding-right: 50px;
	text-decoration: none;
	line-height:40px;
}
.assmntUa .gotoEval .btnEval:hover{
	opacity:0.9;
}
.assmntUa #content .obj {
	background-color: #e0ecec;
	margin: 20px 10%;
	padding: 10px;
}
/* Eval buttons */
.btnStartE, .btnRestartE, .btnScoreE, .btnValidateE, .btnCloseE, .btnGotoSolE {
	background: url("../img/quiz/eval.svg") no-repeat scroll transparent;
	height: 33px;
	display: inline-block;
	padding-right: 40px;
	padding-left:40px;
	color: #434e52;
	font-size: 1.2em;
	text-decoration: none;
	line-height:33px;
}
.btnStartE:hover, .btnValidateE:hover, .btnCloseE:hover, .btnRestartE:hover, .btnScoreE:hover, .btnGotoSolE:hover {
	opacity:0.9; 
}
.btnStartE {
	background-position: right 0;
}
.btnValidateE {
	background-position: right 0;
}
.btnCloseE {
	background-position: right 0;
}
.btnRestartE {
	background-position: right -36px;
}
.btnScoreE {
	background-position: right -73px;
}
.btnGotoSolE {
	background-position: right -109px;
}
.subWin .solBody .question .rBk{
	background:none;
}
.subWin .solBody .question, .subWin .solBody .score, .subWin .solBody .sol, .subWin .solBody .explain {
	padding-left: 50px;
	min-height: 50px;
	margin: 0.6em 0 0.3em 0em;
}
.subWin .solBody .question_ti, .subWin .solBody .score_ti, .subWin .solBody .sol_ti, .subWin .solBody .explain_ti {
	font-style: italic;
	font-weight: bold;
	color:#434e52;
}
.subWin .solBody .question{
	background: url("../img/quiz/quest.png") no-repeat scroll transparent;
}
.subWin .solBody .score{
background: url("../img/quiz/score.png") no-repeat scroll transparent;
}
.subWin .solBody .sol{
	background: url("../img/quiz/sol.png") no-repeat scroll transparent;
}
.subWin .solBody .explain{
	background: url("../img/quiz/explain.png") no-repeat scroll transparent;
}
/* === STOP - QUIZ ======================================================== */

/* === START - TOOLS ======================================================== */
/*Question de synthèse */
.tools .synth .hBk_ti, .tools .credits .hBk_ti{
	background-image: linear-gradient(to right, #434e52 0%, rgba(0, 0, 0, 0) 100%);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: 100% 2px;
	font-size: 1.6em;
	padding-bottom: 4px;
}
/*REF */
.tools .refOutline{
	background-color: #e0ecec;
	margin: 1em;
	margin-bottom: 20px;
	padding: 5px;
	text-align: center;
}
.mField_ti{
	font-weight: bold;
	color: #434e52;
}
.tools .refOutlineEntry, .tools .mField_ti{
	margin: 1em;
	font-weight: bold;
	color: #434e52;
}
.tools .refOutlineEntry a{
	color:#434e52;
	text-decoration:none;
}
.tools .refOutlineEntry a:hover{
	text-decoration:underline;
}
.tools .refCateg{
	margin: 1em 0em;
	color: #434e52;
	font-size: 2em;
}
.tools dfn, .tools dt{
	color: #434e52;
	font-weight: bold;
}
.tools dd{
	margin-left:15px;
}
.tools .mDiv, .tools .mField {
	background-image: linear-gradient(180deg, #434e52 0%, rgba(0, 0, 0, 0) 100%);
	background-position: left bottom;
	background-repeat: no-repeat;
	background-size: 1px 100%;
}
/*Credits*/
#content .credits_ti{
	font-weight: bold;
	color: #434e52;
	margin: 10px 10px 0px 0px;
	font-size: 1.3em;
}
#content .credits_co{
	margin-left: 20px;
}
#content .credits{
	margin : 20px 0px;
}
#content .credits .legalInfo{
	display: block;
	font-size: 80%;
	padding-left: 3px;
	margin-bottom: 15px;
}
.resCredits{
	margin-top: 5px;
	padding-left: 16px;
	background-image: linear-gradient(180deg, #434e52 0%, rgba(0, 0, 0, 0) 100%);
	background-position: left bottom;
	background-repeat: no-repeat;
	background-size: 1px 100%;
}
.resCredits .legalInfo{
	margin-left: 0px;
	border-left: none;
	padding-left: 0px;
	margin-bottom: 0px;
}
.resCreditsLnk{
	text-decoration: none;
	padding-right: 12px;
	color: #434e52;
}
a.resCreditsLnk:hover{
	text-decoration: underline;
}

/*Index des mots clés*/
.index .idxEntryTi{
	color: #434e52;
    font-weight: bold;
	margin-top: 20px;
	margin-bottom: 3px;
}
.idxEntryCaller a{
	color: #434e52;
	text-decoration:none;
}
.idxEntryCaller a:hover{
	text-decoration:underline;
}
.idxEntryCaller .stackSep{
	color: #434e52;
	font-weight:bold;
}
/* === STOP - TOOLS ======================================================== */

/* === START - SCIMGMGR ===================================================== */
.imgZoom {
	display: inline-block;
}

.scImgZmBtnCls {
	background: url("../img/content/buttons.svg") no-repeat scroll 0px -120px / 100% auto rgba(0, 0, 0, 0);
	position: absolute;
	right: -30px;
	top: -30px;
	display: inline-block;
	box-sizing: border-box;
	height: 30px;
	width: 30px;
	padding-left: 30px;
	overflow: hidden;
}

.scImgZmCvs {
	overflow: visible;
}

.scImgZmCo img {
	background-color: white;
}

.gallery {
	margin: 0.2em 1em 0.7em;
}

.scImgSep {
	display: none;
}

.galPv {
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	border-top: 1px solid silver;
	border-left: 1px solid silver;
	margin: 2px;
	background-color: white;
}

.galPvLnk:hover {
	opacity: 0.8;
}

.imgPv {
	border-top: 1px solid gray;
	border-left: 1px solid gray;
	border-right: 1px solid silver;
	border-bottom: 1px solid silver;
}

.scImgGalOver,
.scImgZmOver {
	background-color: white;
}

.scImgGalFra {
	background-color: white;
}

.scImgGalCo,
.scImgGalImgFra {
	background-color: white;
}

.scImgGalTi {
	font-style: italic;
	color: #434e52;
	cursor: default;
}

.scImgGalTbr span.scImgGalCount {
	font-style: italic;
	color: #434e52;
	cursor: default;
}

.scImgGalTbr span {
	display: none;
	position: absolute;
}

.scImgGalTbr a {
	display: block;
	width: 16px;
	height: 16px;
	position: absolute;
	bottom: 3px;
	background: url("../img/tpl/gallery.svg") no-repeat 0 0 scroll transparent;
	left: 50%;
}

a.scImgGalBtnPrv {
	background-position: 0 -135px;
	margin-left:-28px;
}

a.scImgGalBtnPrv:hover {
	background-position: 0 -152px;
}

a.scImgGalBtnNoPrv {
	background-position: 0 -50px;
	margin-left:-28px;
	cursor: default;
}

a.scImgGalBtnNxt {
	background-position: 0 -67px;
	right: 330px;
	margin-left:12px;
}

a.scImgGalBtnNxt:hover {
	background-position: 0 -84px;
}

a.scImgGalBtnNoNxt {
	background-position: 0 -33px;
	margin-left:12px;
	cursor: default;
}

a.scImgGalBtnCls {
	background-position: 0 0;
	right: 5px;
	left:auto;
}

a.scImgGalBtnCls:hover {
	background-position: 0 -17px;
}

a.scImgGalBtnPse {
	background-position: 0 -169px;
	margin-left:-8px;
}

a.scImgGalBtnPse:hover {
	background-position: 0 -186px;
}

a.scImgGalBtnPly {
	background-position: 0 -101px;
	margin-left:-8px;
}

a.scImgGalBtnPly:hover {
	background-position: 0 -118px;
}

.scImgZmTi {
	background-color: #e0ecec;
	color:#434e52;
	font-style:italic;
	text-align:center;
}
/* === STOP - SCIMGMGR ====================================================== */

/* === START - SCORM ======================================================== */
body.sco{
	padding:0 1em 0 2em;
}

.default.quit #root {
	background: none;
}
.home #navigation a.btnScormResume{
	background: url(../img/tpl/button-resume.svg) no-repeat right;
	background-size: 40px 40px;
	background-color: rgba(67, 78, 82, 0.7);
}
.default.scorm #tools ul.mnu {
	margin-left: 50px;
}
.home #navigation a.btnScormQuit,
.default #tools a.btnScormQuit{
	display:inline-block;
	padding:0;
	margin: 0 ;
	box-sizing: border-box;
	width: 40px;
	height: 40px; 
	padding-left: 40px;
	overflow: hidden;
	background: url(../img/content/buttons.svg) no-repeat top;
	background-size: 100%;
	background-position: 0 -80px;
	position:absolute;
	left:28px;
	top:4px;
}
.home #navigation a.btnScormQuit{
	background-position: 0 -160px;
}

.default.scorm #menu .mnu .item {
	margin-right:20px;
}
.scormSeen{
	position:absolute;
	top:2px;
	right:2px;
}
.btnScormSeen{
	display:inline-block;
	padding:0;
	margin: 0 ;
	box-sizing: border-box;
	width: 16px;
	height: 16px; 
	padding-left: 16px;
	overflow: hidden;
	background: url(../img/content/buttons.svg) no-repeat top;
	background-size: 100%;
	background-position: 0 -96px;
	opacity:0.3;
}
.btnScormSeen.scormSeen_true{
	background-position: 0 -128px;
	opacity:1;
}
.sco #document {
    margin-top: 60px;
}
.sco .scroller {
    padding: 1em;
}
.sco .subWindow_win {
    position: fixed !important;
}

/* === STOP - SCORM ========================================================= */

/* === START - RESPONSIVE DESIGN ============================================ */

/* tablets - portrait */
@media (max-device-width: 800px) and (orientation: portrait){ 
	.default #toolbox{
		display:none;
	}
	.default #document{
	-webkit-order: 1;
		order:1;
	}
	.default #root{
		background-image: none;
	}
	.default #navigation a.btnZen{
		display: none;
	}
}

/*phones*/
@media (max-device-width: 500px) and (orientation: portrait), (max-device-height: 500px) and (orientation: landscape){ 
	body{
		margin:0;
		font-size:0.8em;
	}
	.home #root section.article{
		margin-left: 5%;
		margin-right: 5%;
	}
	.home #content .logo{
		right:5%;
		box-shadow:none;
	}
	.default #root{
		position: relative;
		background: #434e52;
	}
	.default #header{
		position: relative;
		background: white url(../img/tpl/back-top-straight.svg) no-repeat bottom;
		background-size: 100% 60px;
		height: auto;
		flex: 0 0 60px;
}
	.default #header h1{
		text-align: left;
		padding: 0.7em 0.5em 0 0.5em;
	}
	.default #main{
		flex-flow: column;
		background: none;
	}
	.default #document{
		order:1;
		flex: 0 0 auto;
		margin: 0;
	}
	.default .scroller{
		position: relative;
		overflow: visible;
	}
	.default #menu{
		margin-bottom:0;
		background-color: #e0ecec;
	}
	.default #menu > div.mnuSrlUpFra {
		margin-top:5px;
		flex: 0 0 30px;
	}
	.default #menu > div.mnuSrlDwnFra {
		flex: 0 0 30px;
	}
	.default #menu .mnuSrlUpBtn,
	.default #menu .mnuSrlDwnBtn{
		width: 310px;
		height: 30px; 
		padding-left: 310px;
		background-position: 0px 6px;
	}
	.default #menu .mnuSrlDwnBtn{
		background-position: 0px -40px;
	}
	.default .schCmds{ /* TODO : stylage des résultats de recherche */ 
		display:none;
	}
	.default #toolbox{
		display: flex;
		order:2;
		margin-top:-50px;
	}
	.default #tools{
		flex: 0 0 50px;
		z-index:2;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
	}
	.default #tools .anc_yes .lbl {
		border-radius: 30px 30px 0 0;
	}
	.default #tools ul {
		padding: 5px 0 0 0;
		margin: 0;
	}
	.default #tools li {
		display: inline-block;
		 height: auto; 
	}
	.default #navigation{
		background: white url(../img/tpl/back-bottom-straight.svg) no-repeat top;
		background-size: 100% 60px;
		z-index:1;
	}
	.default #navigation li{
		height:auto;
	}
	.default #navigation a.btnZen{
		display: none;
	}
	.txtRes {
		flex-flow: column;
	}
	.module .hBk > h2.hBk_ti:before {
		background-size:70%;
		height: 85px;
		margin-right: 0;
		margin-top: -20px;
	}
	.module .expUc > h2.hBk_ti:before {
		background-position: 0 0;
	}
	.module .intro > h2.hBk_ti:before {
		background-position: 0 -87px;
	}
	.module .quiz > h2.hBk_ti:before {
		background-position: 2px -175px;
	}
	.module .courseUa > h2.hBk_ti:before {
		background-position: 2px -262px;
	}
	.module .practUc > h2.hBk_ti:before {
		background-position: 2px -350px;
	}
	.module .conclu > h2.hBk_ti:before {
		background-position: 2px -439px;
	}
	.module .ueDiv > h2.hBk_ti:before {
		background-position: 2px -524px;
	}
	.module .quest > h2.hBk_ti:before {
		background-position: 2px -613px;
	}
	.module .obj > h2.hBk_ti:before {
		background-position: -2px -698px;
	}
	.module .assmntUa > h2.hBk_ti:before {
		background-position: 2px -783px;
	}
	#accessibility .waiTools a{
		background:url("../img/tpl/mnuMobile.svg") no-repeat scroll 0 0 / 30px auto rgba(0, 0, 0, 0);
		height: 30px;
		position: absolute;
		width: 30px;
		opacity:1;
		top:13px;
		right:15px;
	}
	#accessibility .waiTools a:hover{
		opacity:0.7;
	}
	.waiTools a span {
		display:none;
	}
	.pBk_ti i.type{
		margin-right: 5px;
	}
	.pBk_ti i.type span{
		display: none;
	}
}
@media (max-device-height: 500px) and (orientation: landscape){ 
	.home #root section.article{
		margin-top: 5%;
	}
	.home #content img{
		width:auto;
		max-height:250px !important;
	}
}
@media (max-device-width: 500px) and (orientation: portrait){ 
	.home #content img{
		max-width:100% !important;
		height:auto;
	}
}

/* === STOP - RESPONSIVE DESIGN ============================================= */


/* === START - EMERAUDE ============================================= */
.emeraude.default #header, .emeraude.sco #header {
    background: rgba(0, 0, 0, 0) url("../img/tpl/back-top-straight.svg") no-repeat scroll center top / 100% 65px;
}
.emeraude.default #main {
    background: rgba(0, 0, 0, 0) url("../img/tpl/back-bottom-straight.svg") no-repeat scroll center bottom / 100% 65px;
}
.emeraude.home section.article{
	margin-top:10%;
	background: none;
}
.emeraude .zen_true #toolbox{
	flex: 0 0 60px;
	display: flex;
}
.emeraude .zen_true #document {
    order: 2;
    margin-top: 0;
}
.emeraude .zen_true #menu,
.emeraude .zen_true .schCmds {
	display: none;
}
.emeraude .zen_true #main {
    flex-flow: column;
}
.emeraude.default #navigation a.btnZen {
	bottom: 0;
    left: 15px;
    position: absolute;
	background-image: url("../img/tpl/mnuEmeraude.svg");
	background-repeat:no-repeat;
	background-size:40px auto;
	height:50px;
	width:48px;
	padding-left:48px;
	z-index:2;
}
.emeraude.default .zen_true #navigation a.btnZen{
	background-position:center 5px;
}
.emeraude.default .zen_false #navigation a.btnZen {
    background-color: #e0ecec;
    border-radius: 30px 30px 0 0;
	background-position:center -50px;
}
.emeraude.home #navigation .scormSendResult {
    float: right;
    margin-right: 1em;
}
.emeraude.home #navigation a.btnSendResult{
	background-image:url("../img/tpl/button-exit.svg");
}
.emeraude.default #tools a.btnSendResult {
    background: rgba(0, 0, 0, 0) url("../img/tpl/button-exit.svg") no-repeat scroll center top / 40px 40px;
    box-sizing: border-box;
    display: inline-block;
    height: 40px;
    overflow: hidden;
    padding-left: 40px;
    padding-top: 1em;
    width: 40px;
	position:absolute;
	left:80px;
	top:4px;
}
.emeraude.default.scorm #tools ul.mnu {
    margin-left: 105px;
}
.emeraude.default #navigation li {
    height: 45px;
}
.emeraude.default.scorm #tools .lbl {
    margin: 0 0 0 0.5em;
}
/* === STOP - EMERAUDE ============================================= */