/*	Extension MS	*/
div#scDepotStack {
  position: absolute;
  top: 10px;
  left: 180px;
  color: #ffffff;
  z-index:99999;
}
div#scDepotStack a{
  color: white;
  text-decoration:none;
}
div#scDepotStack a:hover{
  text-decoration:underline;
}

/* Bridge, by STC, 2011-11-04 **/
code.txt_code_is {
  color:red;
  font: 0.9em sans-serif;
}
